extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.details
        .container
            .details__breadcrumps.breadcrumps
                a(href="./index.html") Главная
                a(href="./rental.html") Аренда
                a(href="./catalog.html") Аренда бульдозеров
                span Аренда бульдозера KOMATSU D65 PX-12 с рыхлителем

            h2.details__title.block__title Аренда бульдозера KOMATSU D65 PX-12 с рыхлителем

            .details__wrapper 

                .details__view.view

                .details__specs.specs

                .details__description.description

                .details__backlink.backlink 

                .details__book.book
