extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.details.catalog-item-page
        .container
            .details__breadcrumps.breadcrumps
                a(href="./index.html") Главная
                a(href="./rental.html") Аренда
                a(href="./catalog.html") Аренда бульдозеров
                span Аренда бульдозера KOMATSU D65 PX-12 с рыхлителем

            h2.details__title.block__title Аренда бульдозера KOMATSU D65 PX-12 с рыхлителем

            .details__block.details__block--first

                .details__view.view
                    .view__fullsize.swiper
                        span.view__status Готов к работе
                        .view__nav
                            button.view__prev.view__btn
                                +icon('intro-prev')
                            button.view__next.view__btn
                                +icon('intro-next')
                        .view__fullsize-wrapper.swiper-wrapper
                            .view__fullsize-item.swiper-slide
                                img(src="./images/details/details-full1.png" alt="бульдозер")
                            .view__fullsize-item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_1_0.jpg" alt="бульдозер")
                            .view__fullsize-item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_2_0.jpg" alt="бульдозер")
                            .view__fullsize-item.swiper-slide
                                img(src="./images/details/10010_d65px_1.jpg" alt="бульдозер")
                            .view__fullsize-item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_3.jpg" alt="бульдозер")
                    .view__slider.swiper
                        .view__wrapper.swiper-wrapper
                            .view__item.swiper-slide
                                img(src="./images/details/details-full1.png" alt="бульдозер")
                            .view__item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_1_0.jpg" alt="бульдозер")
                            .view__item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_2_0.jpg" alt="бульдозер")
                            .view__item.swiper-slide
                                img(src="./images/details/10010_d65px_1.jpg" alt="бульдозер")
                            .view__item.swiper-slide
                                img(src="./images/details/komatsu_d65px12_3.jpg" alt="бульдозер")

                .details__specs.specs
                    .specs__wrapper 
                        .specs__item 
                            span.specs__name Мощность двигателя, л.с.
                            span.specs__value 190
                        .specs__item 
                            span.specs__name Ширина отвала, мм
                            span.specs__value 3970 
                        .specs__item 
                            span.specs__name Объем отвала, м.куб.
                            span.specs__value 3,69
                        .specs__item 
                            span.specs__name Высота отвала, мм
                            span.specs__value 1100
                        .specs__item 
                            span.specs__name Ширина трака (башмака), мм
                            span.specs__value 915
                        .specs__item 
                            span.specs__name Стоимость за час (без НДС):
                            span.specs__value 70 бел.руб

                    button.specs__button.btn__link.btn__yellow Арендовать

            .details__block.details__block--second

                .details__description.description
                    .description__nav
                        button.description__button.active: span Описание
                        button.description__button: span Характеристики
                        button.description__button: span Техническая документация

                    .description__wrapper
                        .description__item.show 
                            p Компания Komatsu – производитель бульдозеров и строительной техники с мировым именем.
                            p Особенность продукции бренда – универсальность, которая достигается благодаря разнообразию навесного оборудования. В частности, бульдозер Komatsu D65 PX-12 с рыхлителем является яркой демонстрацией лучших разработок производителя.
                            p Кабина создана с учетом последних требований безопасности и оснащена системами ROPS и FOPS, которые защищают её от опрокидывания и падения тяжелых предметов. Опционально предлагается установка дополнительных систем, повышающих уровень комфорта оператора.
                            p В бульдозере Komatsu установлена гидростатическая трансмиссия нового поколения. Дизельный двигатель работает от двух реверсивных гидронасосов, которые, в свою очередь, связаны с рукавами высокого давления. Современный привод полностью контролирует все узлы системы управления, в результате чего обеспечивается необходимый баланс между скоростью движения, тяговым усилением, что исключает какие-либо перегрузки двигателя. Многостоечный рыхлитель расположен в задней части машины и предназначен для рыхления с глубиной 595 мм и меньше.
                            p Каждая гусеница контролируется отдельно и может иметь свою скорость. Это достигается за счет изменения работы гидронасосов.
                            p К особенностям конструкции Komatsu D65 PX-12 также можно отнести наличие поворотного прямого отвала, оснащенного гидравлической системой перекоса. 
                            p Мы всегда рады рассказать больше о нашей технике, условиях сотрудничества и с радостью ответить на все ваши вопросы. Звоните по указанным на сайте телефонам или оставьте запрос через форму обратной связи – и наши специалисты свяжутся с вами в короткие сроки. Мы рады видеть вас среди наших клиентов!
                        .description__item
                            p К сожалению, в данный момент нет информации о характеристиках выбранной техники.
                        .description__item
                            p К сожалению, техническая документация отсутствует.


                .details__cta

                    .details__backlink.backlink 

                    .details__book.book





    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_popular

    include ./blocks/_fixed_block
