extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.catalog__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="./rental.html") Аренда
                        span.first__current Аренда колесных экскаваторов
                    h1.first__title.intro__title Аренда колесных экскаваторов
                    .first__text.intro__text
                        p Аренда колесного экскаватора — востребованный тип услуг в сфере строительства и инженерной области. Машины стабильны, мощны и достаточно универсальны, чтобы выполнять широкий спектр задач.
                        p Компания «БауАренда» предлагает услуги колесного экскаватора и профессиональных операторов для выполнения разноплановых работ.

                    button.first__link.btn__link.btn__yellow.rental__button Заказать технику
                .first__img
                    +picture('first/first-rental', 'png', 'x2')

    -
        const catalog_data = [
        // Экскаваторы-погрузчики
            {
            imgName: "1.jpg",
            header: "Аренда экскаваторов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'excavator'
            },
        // Самосвалы
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'tipper'
            },
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 2,
            category: 'tipper'
            },
        // Бульдозеры
            {
            imgName: "3.jpg",
            header: "Аренда бульдозеров CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'dozer'
            },
        // Гусеничные экскаваторы
            {
            imgName: "4.jpg",
            header: "Аренда экскаваторов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'digger'

            },
        // Погрузчик
            {
            imgName: "5.jpg",
            header: "Аренда погрузчиков CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'loader'

            },
        // Фронтальный погрузчик
            {
            imgName: "6.jpg",
            header: "Аренда фронтальных погрузчиков CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'frontalLoader'

            },
        // Колесный экскаватор
            {
            imgName: "7.jpg",
            header: "Аренда колёсных экскаваторов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'wheelDigger'

            },
        // Тралы и низкорамные площадки
            {
            imgName: "8.jpg",
            header: "Аренда тралов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'flail'

            },
        // Грунтовой каток
            {
            imgName: "9.jpg",
            header: "Аренда грунтовых катков CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'truck'

            },
        // Автокран
            {
            imgName: "10.jpg",
            header: "Аренда автокранов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'crane'

            },
        // Автогрейдер
            {
            imgName: "11.jpg",
            header: "Аренда автогрейдеров CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'grader'

            },
        // Телескопический погрузчик
            {
            imgName: "12.jpg",
            header: "Аренда телескопических погрузчиков CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'telescopicLoader'

            },
        // Мини-техника
            {
            imgName: "13.jpg",
            header: "Аренда мини-техники CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'mini'

            },
        // Гидромолоты
            {
            imgName: "14.jpg",
            header: "Аренда гидромолотов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'hydraulicHammer'

            },
        // Буровая техника
            {
            imgName: "15.jpg",
            header: "Аренда буровой техники CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 2,
            category: 'drillingEquipment'

            },
        ];


    +catalog(catalog_data, true)

    include ./blocks/_feedback_narrow

    section.infoBlock.catalog__infoBlock
        .container
            h2.infoBlock__title.block__title Особенности спецтехники
            .infoBlock__wrapper

                p Экскаваторы с автомобильным шасси — ключевое оборудование на строительных площадках. Машины оснащены разнообразными функциями, которые необходимы для большинства строительных мероприятий.

                p Предоставленные колесные экскаваторы в ассортименте выделяются:

                ul

                    li простым управлением хода;

                    li специальным насосом поворота;

                    li гидравликой с регулированием по нагрузке;

                    li большим рабочим диапазоном;

                    li добавочным освещением рабочей зоны;

                    li брызговиками;

                    li охлаждающим вентилятором и т.д.

                p Для работы в городских условиях или на асфальтированных территориях оптимальна аренда колесного экскаватора. Минск и другие регионы Беларуси могут приобрести услуги аренды экскаватора по выгодной стоимости.

    section.benefits 
        .container 
            h2.benefits__title.block__title Преимущества колесных экскаваторов
            .benefits__wrapper 
                p Компания «БауАренда» предоставляет в аренду технику от надежных мировых брендов, которые демонстрируют качество, комфорт оператора, надежность и безопасность.
                .benefits__block 
                    h3 Управляемость и транспортировка
                    p Колесные экскаваторы передвигаются со скоростью до 40 км в час, легко преодолевая мощеные поверхности между строительными площадками и объектами. Скорость передвижения агрегата позволяет транспортировать технику на небольшие расстояния без низкорамных платформ.
                    p Мобильность транспорта значительно повышает продуктивность, когда необходимо выполнить несколько задач на просторной рабочей территории. Кроме того, устройство ходовой части транспорта не причиняет асфальту повреждений.

                    h3 Стабильность и сбалансированность
                    p Колесные экскаваторы по устойчивости во время работы сопоставимы с гусеничными аналогами. Для обеспечения устойчивости машины колесный экскаватор оснащен поворотной платформой, которая имеет коробчатую конструкцию. Аренда колесного экскаватора — экономное владение универсальным и мощным приспособлением для работы на мощеных городских территориях.

                    h3 Универсальность
                    p Универсальное навесное оборудование обеспечивает повышенную подъемную силу и мощность копания, благодаря чему колесные экскаваторы могут выполнять те же задачи, что и гусеничные экскаваторы.
                    p Аренда колесного экскаватора — выгодная услуга, применимая в разнообразных деятельностях и направлениях:
                    ul
                        li на свалках;
                        li дорожных работах;
                        li погрузочно-разгрузочных работах;
                        li обработке отходов;
                        li установке коммунальных услуг и т.д.

                    h3 Универсальность и многофункциональность
                    p Колесная машина отличается исключительной универсальностью. При правильном оснащении экскаватор может выполнять самые разные задачи. С помощью навесного оборудования колесная модель используется для выполнения расширенного ряда работ. Колесные машины маневренны и могут работать в местах, недоступных для других типов строительной техники.

                    h3 Мощность
                    p Колесные экскаваторы — мощные и производительные машины. При использовании стабилизаторов грузоподъемность экскаваторов на автомобильном шасси зачастую выше, чем у гусеничных машин.
                    p Растущая популярность, которую набирает эксплуатация колесных экскаваторов, объясняется мобильностью, удобством использования в городах и производительностью спецтехники.

                    h3 Комфорт оператора
                    p Модели поставляются с удобной кабиной, увеличенной дверью, расширенным ветровым стеклом, зеркалами, большим потолочным окном и боковой камерой с отдельным монитором в кабине.
                    p Некоторые модели оснащены системой управления, которую можно регулировать по высоте в соответствии с потребностями оператора. Кроме того, машины имеют пониженный уровень вибрации и встроенные в кабину фонари для повышенной видимости.
                    p Операторы могут рассчитывать на превосходную скорость, мобильность и надежность при выполнении тяжелых задач. Все это помогает максимизировать производство, снизить затраты и повысить эффективность работы на стройплощадке.

    section.infoBlock.catalog__infoBlock
        .container
            h2.infoBlock__title.block__title Особенности эксплуатации
            .infoBlock__wrapper

                p Аренда колесного экскаватора востребована для транспортировки во время дорожных, придорожных, городских или мостовых работ. Это самоходная техника, которая безопасно работает на любом дорожном покрытии, не нанося повреждения асфальту или бетону.

                p Устройство ходовой части в виде резиновых шин открывает доступ к городской среде, асфальтированным дорогам, строительным плитам и парковкам. Машины с различным навесным оборудованием зачастую эксплуатируются в следующих областях:

                ul

                    li копание;

                    li работы по сносу,

                    li обслуживание дорог и придорожных участков;

                    li перемещение бетонных заграждений;

                    li очищение канав;

                    li резка асфальта;

                    li обслуживании коммунальных сетей;

                    li строительство автомагистралей и улиц;

                    li возведение мостов;

                    li обустройство участков и улучшение земель.

                p Другие области применения, где широко применяются колесные экскаваторы — проекты по очистке канав и подземные инженерные коммуникации.

                p Аренда спецтехники — результативное и экономное использование времени и бюджета проекта. При всех преимуществах колесные экскаваторы представляют собой производительные универсальные машины на рынке строительной спецтехники.

    section.benefits.benefits__second
        .container 
            h2.benefits__title.block__title Преимущества аренды спецтехники в “Бауаренда
            .benefits__wrapper 
                .benefits__block 
                    h3 Аренда без ограничений по сроку
                    ul 
                        li Продолжительность владения спецтехникой не ограничена. Доступна почасовая, понедельная и помесячная аренда с минимальным сроком от 4 часов.

                    h3 Собственный передовой автопарк
                    ul 
                        li Компания «БауАренда» располагает собственным парком оснащенной и исправной спецтехники от проверенных мировых марок — Cat, HITACHI, KOMATSU и Hyundai. В ассортименте 37 единиц строительной спецтехники, 22 единицы автотехники.

                    h3 Конкурентные цены
                    ul 
                        li Мы гордимся тем, что предлагаем клиентам доступные цены, скидки при аренде от двух единиц техники, а также бонусы для постоянных заказчиков.
                    .columns_break

                    h3 Клиентоориентированность
                    p Компания использует отдельный подход к каждому клиенту. Исполнительно, ответственно и в сроки выполняем перечень работ, предусмотренный в договоре.

                    h3 Комплексная услуга
                    ul 
                        li При необходимости аренда экскаватора сопровождается услугами оператора, стоимость работы которого входит в стоимость аренды.


    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block


    section.advantage.catalog__advantage
        .container
            .advantage__container
                .advantage__main
                    h2.advantage__title.block__title Аренда спецтехники у нас - выгодно и надежно

                    p.advantage__text Аренда спецтехники – профильное направление работы для компании «БауАренда». Качество наших услуг аренды спецтехники успели справедливо оценить сотни компаний и частных заказчиков. Благодаря этому, за время работы мы обзавелись широким кругом постоянных клиентов и деловых партнеров. А это лучший маркер и объективное свидетельство успеха компании, правильно выбранного подхода к ведению бизнеса.

                    a.advantage__link.btn__link.btn__yellow(href="#") Подробнее

                .advantage__wrapper

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/1.svg' alt="преимущество")
                        h4.advantage__header 100% компетентный персонал
                        p.advantage__description Все наши машинисты обладают профильным образованием и имеют весомый опыт работы

                    .advantage__border

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/2.svg' alt="преимущество")
                        h4.advantage__header 24/7 мы работаем всегда!
                        p.advantage__description Мы понимаем, что оперативность в строительстве очень важны.

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/3.svg' alt="преимущество")
                        h4.advantage__header 40% экономии
                        p.advantage__description Наши клиенты получают очень выгодные скидки.

                    .advantage__border

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/4.svg' alt="преимущество")
                        h4.advantage__header 37 наименований спецтехники
                        p.advantage__description Наш парк состоит из 37 различных единиц спецтехники.


    include ./blocks/_popular



