extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.catalog__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="./rental.html") Аренда
                        a.first__prev(href="./catalog.html") Аренда бульдозеров
                        span.first__current Аренда бульдозера KOMATSU D65 PX-12 с рыхлителем
