extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.company__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        span.first__current О компании
                    h1.first__title.intro__title О компании
                    p.first__text.intro__text.
                        Компания «БауАренда» уже много лет работает на рынке. Мы не просто оказываем услуги по аренде техники, мы задаем тон всем остальным, своей деятельностью наглядно демонстрируя европейский уровень взаимодействия с клиентами. Каждый обратившийся может рассчитывать на всестороннюю поддержку с нашей стороны. Если Вам нужен бульдозер, каток, гидромолот и т.д. – точки соприкосновения непременно найдутся. Просто свяжитесь с нами и озвучьте особенности своего проекта.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-company', 'png', 'x2')

    section.company
        .container
            h2.company__title.block__title У нас собственный парк техники:

            .company__wrapper

                .company__block
                    .company__part
                        span.company__numbers 37
                        .company__text 
                            p единиц строительной техники
                    .company__part
                        span.company__numbers 22
                        .company__text
                            p единиц автотехники

                .company__block
                    .company__text.company__text--white
                        p Стоит отметить, что аренда – весьма востребованная услуга. Это не случайно, ведь отпадает необходимость в покупке дорогостоящего оборудования. За небольшие деньги Вы можете выполнить все поставленные задачи. Не нужно обновлять и ремонтировать автопарк, беспокоиться о месте стоянки, выплачивать зарплату операторам и сервисным работникам. Все это берет на себя «БауАренда».

                .company__block
                    .company__text.company__text--white
                        p Мы не просто предлагаем спецтехнику, а делаем так, чтобы заказчик решил с нашей помощью все свои вопросы. Это значит, что сотрудники нашей компании готовы дать экспертную консультацию по поводу особенностей применения конкретных «представителей» автопарка. Подберем бульдозер с любым рабочим органом, предоставим в пользование фронтальный погрузчик – сделаем все, чтобы Вы остались довольны обращением к нам.

                .company__block
                    .company__text
                        h3 Стремимся найти взаимопонимание с клиентом
                        p ведь только так можно добиться высокого уровня оказания услуг.

                .company__block
                    .company__text
                        h3 Работаем быстро, без промедлений
                        p Ценим свое и чужое время. Вы сразу убедитесь в этом, обратившись к нам.

    section.services-list
        .container
            h2.services-list__title.block__title Список оказываемых услуг
            .services-list__wrapper 

                .services-list__block
                    p Мы работаем не только в столице, но и на всей территории Беларуси. К услугам наших клиентов – более 50 единиц исправной и готовой к работе техники. При необходимости мы предоставляем клиентам сотрудника, готового помочь с управлением. Мы годами делаем всё, чтобы клиент оставался доволен.

                .services-list__block
                    h3 Уборка и вывоз снега
                    p Вывоз снега с компанией «БауАренда» – больше не проблема. Поможем и с транспортировкой.

                .services-list__block
                    h3 Вывоз и утилизация грунта
                    p Мы поможем Вам вывезти грунт по самой низкой стоимости в Республике Беларусь.

                .services-list__block
                    h3 Земляные работы
                    p Мы поможем провести земляные работы любой сложности и в любое время года.

                .services-list__block
                    h3 Бурение отверстий
                    p Поможем пробурить в комфортное для Вас время и в любые погодные условия.

                .services-list__block
                    h3 Продажа строительного песка
                    p Мы предлагаем поставку сырья для строительства. У песка нет альтернативной замены.

                .services-list__block
                    h3 Вывоз строительного мусора
                    p Мы поможем очистить строительную площадку от ненужного хлама.

                .services-list__block
                    h3 Доставка негабаритных грузов
                    p Мы предлагаем своим клиентам самую оптимальную стоимость доставки в Беларуси.



    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
