extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.licenses__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="#") О компании
                        span.first__current Вакансии
                    h1.first__title.intro__title Вакансии
                    p.first__text.intro__text.
                        Фирма «БауАренда» давно и хорошо известна на белорусском рынке аренды спецтехники как сильный игрок. Достичь такого успеха в столь специфической бизнес-нише нам помогла в числе прочего грамотная кадровая политика.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-jobs', 'png', 'x2')


    section.jobs
        .container
            h2.jobs__title.block__title Список актуальных вакансий в «БауАренда» и полезная советы претендентам
            .jobs__about
                p Работники фирмы «БауАренда» — это больше, чем группа людей, каждый из которых хорошо разбирается в своей профессии. На удалось сформировать слаженную команду, где ценится вклад каждого участника в общий результат. Задача кадровой политики компании «БауАренда» — поддерживать такие условия труда и микроклимат в коллективе, чтобы наши работники с гордостью говорили другим о том, что работают в «БакАренда».

            .jobs__wrapper

                .jobs__block
                    p На этой странице мы публикуем информацию об открытых на данный момент вакансиях в компании. Но прежде, чем Вы перейдете к их изучению, рекомендуем внимательно ознакомиться с принципами кадровой политики компании. Прочитав их, Вы поймете, насколько комфортной будет для Вас работа в «БауАренда»:

                .jobs__block
                    h3 Официальное трудоустройство.
                    p Машины доставляются на объект клиента вместе с подготовленным опытным экипажем, отвечающим за состояние техники и выполнение нужных заказчику работ.

                .jobs__block
                    h3 Конкурентный уровень заработной платы.
                    p Эффективность работы техники прямо зависит от квалификации и опыта людей, которые с ней работают. Мы ценим опыт, навыки и умения своих работников, поэтому предлагаем конкурентную зарплату. Плюс положенные по закону надбавки и доплаты в случае переработок.

                .jobs__block
                    h3 Полноценная материально-техническая база.
                    p Наш парк укомплектован современной мощной спецтехникой известных брендов, и мы наладили его снабжение всеми необходимыми запчастями, комплектующими, расходниками, ГСМ. Весь необходимый инвентарь и оборудование для обслуживания и ремонта техники у нас также в наличии.

                .jobs__block
                    h3 Ищем людей на постоянную работу.
                    p Мы целенаправленно ищем людей, которые надолго станут неотъемлемой частью команды «БауАренда». Наша цель — долгосрочное трудоустройство, а не подработка или сезонная занятость. А для этого мы стремимся создать в компании максимально комфортные условия труда.


    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
