extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.licenses__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="#") О компании
                        span.first__current Лицензии и сертификаты
                    h1.first__title.intro__title Лицензии #[br.remove__md]и сертификаты
                    p.first__text.intro__text.
                        Эта страница нашего сайта посвящена достижениям компании в целом и ее отдельных сотрудников. Здесь Вы увидите сертификаты и лицензии, официально подтверждающие профессионализм нашей команды. Убедитесь сами, в «БауАренда» Вам будут помогать только профессионалы.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-licenses', 'png', 'x2')


    section.infoBlock.licenses__promotions
        .container
            h2.infoBlock__title.block__title Профессиональный подход к работе с техникой от «БауАренда»
            .infoBlock__wrapper

                p Наша работа подразумевает постоянное взаимодействие со сложной и дорогостоящей техникой. Это требует профильной подготовки штатных сотрудников, прежде всего, водителей и операторов. Вкладываться с постоянное обучение и подготовку персонала в этом бизнесе не менее важно, чем в приобретение собственно спецтехники.

                p Каждый работник «БауАренда», ежедневно взаимодействующий со сложной техникой, проходит профильную подготовку перед получением допуска к работе. Кроме операторов, мы регулярно организуем обучение также и других сотрудников компании: менеджеров-консультантов, которые общаются с клиентами напрямую, механиков, ремонтников и т. д. Наш принцип — профессионализм во всем. Считаем, что качественный сервис возможно предоставить клиенту лишь тогда, когда каждый работник компании досконально разбирается в особенностях спецтехники, с которой мы работаем.

                p Без знаний особенностей эксплуатационных характеристик, целевого назначения, нюансов обслуживания просто невозможно грамотно и полно проконсультировать заказчика и подобрать нужную спецтехнику для решения стоящих перед клиентом задач. А для «БауАренда» это центральный вопрос — суметь дать полную информацию и подобрать набор услуг, комплект техники, которая наилучшим образом решит проблему каждого клиента.


    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
