extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.news-item
        .container
            .first__breadcrumps.breadcrumps
                a(href="./index.html") Главная
                a(href="./news.html") Новости
                span Особенности организации вывоза строительного мусора и грунта
            h2.news-item__title.block__title Особенности организации вывоза строительного мусора и грунта

            .news-item__intro
                .news-item__bg
                    +picture('news/news-item-intro-bg', 'png', 'x2')
                .news-item__info
                    p.news-item__publised сегодня 10:00
                    .news-stat
                        .news__read
                            +icon('time-white')
                            span 15 мин
                        .news__views
                            +icon('views-white')
                            span 236
                        .news__comments
                            +icon('comments-white')
                            span 0

            .news-item__first

                p Подготовка стройплощадки сопровождается рытьем котлована, что создает скопление грунта. Помимо этого, в ходе строительства, реконструкции или сноса накапливаются инертные отходы: бетон, кирпич, асфальт и прочее. Скопление большого количества строительного мусора и непригодных для дальнейшей эксплуатации материалов препятствует передвижению по территории строительной площадки. Ответственное обращение с отходами — важный аспект устойчивого строительства.

                p Небольшая часть грунта компенсирует перепады высоты здания, используется для боковой засыпки сооружения. Однако около 80% перемещенного грунта не пригодно для эксплуатации по следующим причинам:

                ul 
                    li нет необходимости использовать весь объем;
                    li несоответствие качеству насыпного материала;
                    li для последующих работы предусмотрено закупать щебень, гравий и песок;
                    li извлеченный грунт содержит обломки, загрязнения, растения или иные инородные предметы, что нарушает правила безопасности.

                p По закону строительным организациям запрещено самостоятельно удалять отходный материал со стройплощадки. Помимо прочего, стоимость услуги вывоза отходов с целью последующей утилизации значительно ниже расходов, которые необходимы для организации уборки территории самостоятельно.

                p Известна также альтернативная практика — незаконный вывоз мусора. Стоит помнить, что при обнаружении подобной свалки отходов отследить соответствующий транспорт и взыскать штраф — несложно. Однако последствием данной альтернативы может стать уголовная ответственность при заключении, что отходы и отвал являются умеренно опасными.

                p Наиболее практичный и эффективный метод вывоза отходов со стройплощадки — нанять фирму, которая предоставляет данную услугу.

            .news-item__content
                h3.news-item__heading.block__title Содержание

                ul.news-item__list
                    li: a(href="#block1") Общие правила организации работ
                    li: a(href="#block2") Что считается опасными отходами
                    li: a(href="#block3") Что влияет на итоговую стоимость?

            .news-item__block#block1
                h3 Общие правила организации работ
                p Оперативно вывезти строительный мусор и грунт помогут специальные лицензированные организации. Они оплачивают услуги перерабатывающих корпораций и полигонов.
                p В список обязанностей исполнителя входит:
                ul 
                    li оценка объема отходов для утилизации;
                    li составленный план и график работ, включающий погрузочно-разгрузочные и транспортные процессы;
                    li расчёт стоимости работ;
                    li подбор подходящей спецтехники для сбора, погрузки и вывоза;
                    li исполнение в предусмотренный срок;
                    li предоставление отчета о выполненном комплексе работ.
                p Отчет о выполненных работах подрядчик, согласно закону, прилагает к документации.

            .news-item__block#block2
                h3 Что считается опасными отходами
                p Отходы, содержащие химические вещества или следы материалов, легковоспламеняющиеся, едкие или ядовитые считаются опасными отходами. При попадании на свалку, они могут нанести серьезный ущерб почве, воде и животным в этом районе. Из-за этого риска опасные отходы необходимо утилизировать надлежащим образом.

            .news-item__block#block3
                h3 Что влияет на итоговую стоимость?
                p После определения уровня опасности, способов утилизации или переработки организуются маршруты перемещения, считается число единиц техники. Измеряются габариты и специфику вывозимого мусора, на основании которых определяется необходимость определенной спецтехники.
                p Стоимость процедуры по вывозу определяется в зависимости от класса опасности отходов, расчётов габаритов, объёма и количества задействованной техники. Можно создать собственную стратегию работы с вывозом мусора. Например, разбирать ее на этапы с организацией графика рейсов на полигоны или осуществить вывоз одним массивом.
                p Законодательством предусмотрено, как следует обращаться с отходами на строительных площадках, площадках сноса и раскопках. Если пользоваться услугами специальной компании, предоставляющей услуги вывоза мусора и грунта со стройплощадки, то поддерживать безопасность в рамках закона, и утилизировать отходы рационально — несложно.

    section.news-item__share.share
        .container
            .share__container
                h2.share__title Поделиться:
                ul.share__list
                    li.share__item: a(href="mailto:?subject=Subject%20line&body=Email%20body")
                        include ./blocks/_icon_share

                    li.share__item: button 
                        include ./blocks/_icon_instagram

                    li.share__item: button(onclick = 'window.open("https://connect.ok.ru/offer?url=https://www.google.com/&title=TITLE","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_ok

                    li.share__item: button(onclick = 'window.open("https://vk.com/share.php?url=https://www.google.com/","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_vk

                    li.share__item: button(onclick = 'window.open("https://www.facebook.com/sharer.php?u=https://www.google.com/","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_facebook

                    li.share__item: button(onclick ='window.open("https://twitter.com/intent/tweet?text=ТАЙТЛ_СТРАНИЦЫ. ОПИСАНИЕ. СССЫЛКА","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_twitter

                    li.share__item: button(onclick ='window.open("https://www.linkedin.com/sharing/share-offsite/?url=http://example.com","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_linkedin

                    li.share__item: button(onclick ='window.open("https://ru.pinterest.com/pin/create/button/?url=АДРЕС_СТРАНИЦЫ","sharer","status=0,toolbar=0,width=650,height=500")')
                        include ./blocks/_icon_pinterest


    section.news-item__commments.comments
        .container
            h2.comments__title.block__title Добавить комментарий
            //- add className comments__error to comments__new to show error
            //- to show author avatar set class 'logged' to form
            form.comments__new(action="#")

                .comments__person
                    .comments__avatar
                        img(src="./images/news/ava.svg" alt="avatar")
                    p.comments__name Кривонос Наталья
                    +icon('comments-close')

                .comments__block
                    p.comments__error-msg Комментарий не может быть пустым
                    input.comments__input(type="text" placeholder="Ваш комментарий..." required)

                .comments__auth

                    p.comments__error-msg Пожалуйста используйте любую из предложенных социальный сетей, чтобы оставить комментарий

                    .comments__auth-block
                        span Авторизоваться:
                        ul
                            li: button 
                                include ./blocks/_icon_ok

                            li: button 
                                include ./blocks/_icon_vk

                            li: button 
                                include ./blocks/_icon_facebook

                            li: button 
                                include ./blocks/_icon_twitter

                button.comments__submit.btn__link.btn__yellow(type="submit") Отправить

            p.comments__successful Спасибо, ваш комментарий опубликован!

            .comments__wrapper
                ul.comments__list

                    li.comments__item
                        .comments__info
                            .comments__person
                                .comments__avatar
                                    img(src="./images/news/ava.svg" alt="avatar")
                                p.comments__name Кривонос Наталья
                            span.comments__published 02.03.2021 в 13.44
                        p.comments__text Хочу поблагодарить компании за оказанную помощь при строительстве участка. Ваши специалисты помогли вывезти грунт и подготовить территорию к дальнейшей работы.

                    li.comments__item
                        .comments__info
                            .comments__person
                                .comments__avatar
                                    img(src="./images/news/ava.svg" alt="avatar")
                                p.comments__name Кривонос Наталья
                            span.comments__published 02.03.2021 в 13.44
                        p.comments__text Спасибо компании "Бауаренда" и ее сотрудникам. Брал в аренду экскаватор-погрузчик. Сотрудники компании помогли подобрать нужный вариант экскаватора. Профессионалы и очень приятные люди! Успехов и побольше довольных клиентов!

                    li.comments__item
                        .comments__info
                            .comments__person
                                .comments__avatar
                                    img(src="./images/news/ava.svg" alt="avatar")
                                p.comments__name Кривонос Наталья
                            span.comments__published 02.03.2021 в 13.44
                        p.comments__text Хочу поблагодарить компании за оказанную помощь при строительстве участка. Ваши специалисты помогли вывезти грунт и подготовить территорию к дальнейшей работы.

                    li.comments__item
                        .comments__info
                            .comments__person
                                .comments__avatar
                                    img(src="./images/news/ava.svg" alt="avatar")
                                p.comments__name Кривонос Наталья
                            span.comments__published 02.03.2021 в 13.44
                        p.comments__text Выражаем признательность за сотрудничество. Компания «БауАренда» предоставила в аренду тралы для транспортировки леса. Техника полностью отрабатывает потраченные деньги. Никаких «случайностей» в виде выхода из строя не произошло. По организации работы тоже все замечательно. Подписали договор, и уже на следующее утро тралы были в нашем распоряжении. Рекомендуем ООО «БауАренда» как надежного контрагента!

                include ./blocks/_pagination





    section.news
        .container
            h2.news__title.block__title Читать также

            include ./blocks/_news_wrapper

            a.news__more.btn__link.btn__grey(href="#") Посмотреть все

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
