extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.our-clients__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="#") О компании
                        span.first__current Наши клиенты
                    h1.first__title.intro__title Наши клиенты
                    p.first__text.intro__text.
                        Здесь Вы можете ознакомиться с компаниями, которые давно пользуются нашими услугами и удовлетворены. Если Вы хотите быть в числе наших клиентов – свяжитесь с нами, мы детально обсудим условия сотрудничества.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-clients', 'png', 'x2')

    section.partners
        .container
            h2.partners__title.block__title Чуть больше о партнёрах компании

            .partners__wrapper

                -
                    const clients_logo = [
                        'clients/client-1.png',
                        'clients/client-2.png',
                        'clients/client-3.png',
                        'clients/client-4.png',
                        'clients/client-5.png',
                        'clients/client-6.png',
                        'clients/client-7.png',
                        'clients/client-8.png',
                        'clients/client-9.png',
                        'clients/client-10.png',
                        'clients/client-11.png',
                        'clients/client-12.png',
                        'clients/client-13.png',
                        'clients/client-14.png',
                        'clients/client-15.png',
                        'clients/client-16.png',
                        'clients/client-17.png'
                    ]

                each logo in clients_logo
                    +partners_item(logo)


            .partners__text
                p.
                    Все представленные здесь компании давно и успешно пользуются услугами аренды специальной техники от нашей компании и удовлетворены результатами. Постоянное сотрудничество с нами – это выгоды и преференции, которых не бывает при разовой аренде.

    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
