extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.our-partners__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps.breadcrumps
                        a(href="./index.html") Главная
                        a(href="./company.html") О компании
                        span Наши партнеры
                    h1.first__title.intro__title Наши партнеры
                    p.first__text.intro__text.
                        Эта страница познакомит Вас с бизнес-партнерами компании «БауАренда». Если Вы хотите быть в их числе, тогда присылайте нам свое коммерческое предложение, звоните и расскажите о возможностях своей компании, чем мы можем быть полезны друг другу. Компания «БауАренда» всегда открыта к конструктивному сотрудничеству. Ждем Ваших предложений!

                    a.first__link.btn__link.btn__yellow(href="./catalog.html") Каталог
                .first__img
                    +picture('first/first-partners', 'png', 'x2')

    section.partners
        .container
            h2.partners__title.block__title Узнайте больше о партнерах компании «БауАренда»

            .partners__wrapper

                -
                    const partners_logo = [
                        'partners/01.svg',
                        'partners/02.svg',
                        'partners/03.svg',
                        'partners/04.svg',
                        'partners/05.svg',
                        'partners/06.svg',
                        'partners/07.svg',
                        'partners/08.svg',
                        'partners/09.svg',
                        'partners/10.svg',
                        'partners/11.svg',
                        'partners/01.svg'
                    ]

                each logo in partners_logo
                    +partners_item(logo)


            .partners__text
                p.
                    Бизнес на рынке аренды спецтехники подразумевает высокую вовлеченность коллектива от директора до механика в процесс профильной работы. Ежедневно мы контролируем техническое состояние парка, заботимся о работоспособности и сервисном обслуживании техники, следим за соблюдением тайминга, принимаем и обрабатываем клиентские заявки.
                p.
                    Сосредоточенность команды на профильной деятельности оставляет нам не так много времени на решение других вспомогательных задач, так же необходимых для полноценного функционирования компании. А ведь для этого фирме требуется профессиональное юридическое, бухгалтерское, маркетинговое и другое сопровождение, регулярные поставки запчастей, расходных материалов для работы техники.
                p.
                    Мы не стремимся объять необъятное и просто поручаем выполнение этих функций нашим проверенным деловым партнерам, в которых мы уверены и хотим работать в одном ритме. Сильная и развитая сеть деловых партнеров — важное преимущество нашей компании. Благодаря отлаженным партнерским связям мы можем позволить себе сконцентрироваться на развитии и совершенствовании основной деятельности.

    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
