extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.our-clients__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="#") О компании
                        span.first__current Наши клиенты
                    h1.first__title.intro__title Наши клиенты
                    p.first__text.intro__text.
                        Здесь Вы можете ознакомиться с компаниями, которые давно пользуются нашими услугами и удовлетворены. Если Вы хотите быть в числе наших клиентов – свяжитесь с нами, мы детально обсудим условия сотрудничества.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-clients', 'png', 'x2')

    section.partners
        .container
            h2.partners__title.block__title Чуть больше о партнёрах компании

            .partners__wrapper

                -
                    const partners_logo = [
                        '01.svg',
                        '02.svg',
                        '03.svg',
                        '04.svg',
                        '05.svg',
                        '06.svg',
                        '07.svg',
                        '08.svg',
                        '09.svg',
                        '10.svg',
                        '11.svg',
                        '01.svg'
                    ]

                each logo in partners_logo
                    +partners_item(logo)


            .partners__text
                p.
                    Бизнес на рынке аренды спецтехники подразумевает высокую вовлеченность коллектива от директора до механика в процесс профильной работы. Ежедневно мы контролируем техническое состояние парка, заботимся о работоспособности и сервисном обслуживании техники, следим за соблюдением тайминга, принимаем и обрабатываем клиентские заявки.
                p.
                    Сосредоточенность команды на профильной деятельности оставляет нам не так много времени на решение других вспомогательных задач, так же необходимых для полноценного функционирования компании. А ведь для этого фирме требуется профессиональное юридическое, бухгалтерское, маркетинговое и другое сопровождение, регулярные поставки запчастей, расходных материалов для работы техники.
                p.
                    Мы не стремимся объять необъятное и просто поручаем выполнение этих функций нашим проверенным деловым партнерам, в которых мы уверены и хотим работать в одном ритме. Сильная и развитая сеть деловых партнеров — важное преимущество нашей компании. Благодаря отлаженным партнерским связям мы можем позволить себе сконцентрироваться на развитии и совершенствовании основной деятельности.

    include ./blocks/_feedback_narrow

    -
        const catalog_data = [
        // Экскаваторы-погрузчики
            {
            imgName: "1.jpg",
            header: "Аренда экскаваторов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'excavator'
            },
        // Самосвалы
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'tipper'
            },
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 2,
            category: 'tipper'
            },
        // Бульдозеры
            {
            imgName: "3.jpg",
            header: "Аренда бульдозеров CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'dozer'
            },
        ]

    +catalog(catalog_data)

    include ./blocks/_reviews
    include ./blocks/_feedback_full_width
    include ./blocks/_fixed_block
