extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.prices__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        span.first__current Цены на аренду строительной техники
                    h1.first__title.intro__title Цены на аренду строительной техники
                    p.first__text.intro__text.
                        Ценовой фактор при выборе арендодателя спецтехники играет не последнюю роль и часто определяет заказчика в пользу конкретной компании из перечня аналогичных предложений. Мы в «БауАренда» отлично понимаем желание клиентов оптимизировать собственные издержки, поэтому стремимся предложить клиентам выгодные цены.  

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-prices', 'png', 'x2')

    section.prices
        .container
            h2.prices__title.block__title Цены

            .prices__wrapper

                .prices__header
                    h3.prices__category Экскаваторы-погрузчики
                    span.prices__note Цена без НДС
                ul.prices__list
                    li.prices__item
                        p.prices__name Venieri VF 10.23C
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name JCB 3CX
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name JCB 4CX
                        p.prices__value 60 BYN

                .prices__header
                    h3.prices__category Самосвалы
                ul.prices__list
                    li.prices__item
                        p.prices__name MAN TGS 33.400
                        p.prices__value 45 BYN
                    li.prices__item
                        p.prices__name МАЗ
                        p.prices__value 45 BYN
                    li.prices__item
                        p.prices__name MАЗ-5516
                        p.prices__value 45 BYN
                    li.prices__item
                        p.prices__name MAN TGS 41.390
                        p.prices__value 50 BYN

                .prices__header
                    h3.prices__category Экскаваторы гусеничные
                ul.prices__list
                    li.prices__item
                        p.prices__name JCB JS 220 болотный
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name Hitachi ZX210 LCK-3 полуболотный
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name JCB JS 260LC
                        p.prices__value 65 BYN
                    li.prices__item
                        p.prices__name Caterpillar 323 DL
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name Сaterpillar 325 DL
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name HITACHI ZX280 LC полуболотный
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name HITACHI ZX 350 H полуболотный
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name Сaterpillar 330BL UHD
                        p.prices__value 110 BYN

                .prices__header
                    h3.prices__category Бульдозеры
                ul.prices__list
                    li.prices__item
                        p.prices__name KOMATSU D65 EX-12
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name KOMATSU D65 PX-12 болотный
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name KOMATSU D65 PX-12 с рыхлителем
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name KOMATSU D61 PX-12
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name Caterpillar D6R
                        p.prices__value 70 BYN

                .prices__header
                    h3.prices__category Фронтальные погрузчики
                ul.prices__list
                    li.prices__item
                        p.prices__name АМКОДОР 342С4
                        p.prices__value 55 BYN
                    li.prices__item
                        p.prices__name АМКОДОР 352
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name АМКОДОР 352
                        p.prices__value 55 BYN
                    li.prices__item
                        p.prices__name Venieri VF 18.63 С
                        p.prices__value 65 BYN

                .prices__header
                    h3.prices__category Колесные экскаваторы
                ul.prices__list
                    li.prices__item
                        p.prices__name HITACHI ZX 170 W-3
                        p.prices__value 60 BYN
                    li.prices__item
                        p.prices__name Caterpillar M318D
                        p.prices__value 60 BYN

                .prices__header
                    h3.prices__category Тралы
                ul.prices__list
                    li.prices__item
                        p.prices__name Низкорамная площадка
                        p.prices__value Договорная
                    li.prices__item
                        p.prices__name Полуприцеп-тяжеловоз (трал) Steelbear TR-31
                        p.prices__value Договорная

                .prices__header
                    h3.prices__category Грунтовые катки
                ul.prices__list
                    li.prices__item
                        p.prices__name Bomag BW-211 D-4
                        p.prices__value 65 BYN
                    li.prices__item
                        p.prices__name Hamm 3520
                        p.prices__value 70 BYN
                    li.prices__item
                        p.prices__name Hamm 3625
                        p.prices__value 75 BYN

                .prices__header
                    h3.prices__category Автокраны
                ul.prices__list
                    li.prices__item
                        p.prices__name Hamm Zoomlion QY90V3625
                        p.prices__value 180-230 BYN
                    li.prices__item
                        p.prices__name Liebherr LTM 1160
                        p.prices__value 280-320 BYN
                    li.prices__item
                        p.prices__name Grove GMK 6300
                        p.prices__value 550 BYN
                    li.prices__item
                        p.prices__name Liebherr LTM 1500
                        p.prices__value 1900 BYN

                .prices__header
                    h3.prices__category Телескопические погрузчики
                ul.prices__list
                    li.prices__item
                        p.prices__name Manitou MT1740
                        p.prices__value 65 BYN

                .prices__header
                    h3.prices__category Автогрейдеры
                ul.prices__list
                    li.prices__item
                        p.prices__name ГС 14.02 (ДЗ-180)
                        p.prices__value 70 BYN

                .prices__header
                    h3.prices__category Мини-техника
                ul.prices__list
                    li.prices__item
                        p.prices__name Экскаватор-погрузчик Venieri VF 1.33B
                        p.prices__value 45 BYN

