extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.prices__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps.breadcrumps
                        a(href="./index.html") Главная
                        span Цены на аренду строительной техники
                    h1.first__title.intro__title Цены на аренду строительной техники
                    p.first__text.intro__text.
                        Ценовой фактор при выборе арендодателя спецтехники играет не последнюю роль и часто определяет заказчика в пользу конкретной компании из перечня аналогичных предложений. Мы в «БауАренда» отлично понимаем желание клиентов оптимизировать собственные издержки, поэтому стремимся предложить клиентам выгодные цены.  

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-prices', 'png', 'x2')

    section.prices.features
        .container
            h2.features__title.block__title Цены

            .features__wrapper

                .feature__header
                    h3 Экскаваторы-погрузчики
                    span Цена без НДС
                ul.feature__list
                    li
                        p Venieri VF 10.23C
                        p 60 BYN
                    li
                        p JCB 3CX
                        p 60 BYN
                    li
                        p JCB 4CX
                        p 60 BYN

                .feature__header
                    h3 Самосвалы
                ul.feature__list
                    li
                        p MAN TGS 33.400
                        p 45 BYN
                    li
                        p МАЗ
                        p 45 BYN
                    li
                        p MАЗ-5516
                        p 45 BYN
                    li
                        p MAN TGS 41.390
                        p 50 BYN

                .feature__header
                    h3 Экскаваторы гусеничные
                ul.feature__list
                    li
                        p JCB JS 220 болотный
                        p 60 BYN
                    li
                        p Hitachi ZX210 LCK-3 полуболотный
                        p 60 BYN
                    li
                        p JCB JS 260LC
                        p 65 BYN
                    li
                        p Caterpillar 323 DL
                        p 70 BYN
                    li
                        p Сaterpillar 325 DL
                        p 70 BYN
                    li
                        p HITACHI ZX280 LC полуболотный
                        p 70 BYN
                    li
                        p HITACHI ZX 350 H полуболотный
                        p 70 BYN
                    li
                        p Сaterpillar 330BL UHD
                        p 110 BYN

                .feature__header
                    h3 Бульдозеры
                ul.feature__list
                    li
                        p KOMATSU D65 EX-12
                        p 70 BYN
                    li
                        p KOMATSU D65 PX-12 болотный
                        p 70 BYN
                    li
                        p KOMATSU D65 PX-12 с рыхлителем
                        p 70 BYN
                    li
                        p KOMATSU D61 PX-12
                        p 70 BYN
                    li
                        p Caterpillar D6R
                        p 70 BYN

                .feature__header
                    h3 Фронтальные погрузчики
                ul.feature__list
                    li
                        p АМКОДОР 342С4
                        p 55 BYN
                    li
                        p АМКОДОР 352
                        p 60 BYN
                    li
                        p АМКОДОР 352
                        p 55 BYN
                    li
                        p Venieri VF 18.63 С
                        p 65 BYN

                .feature__header
                    h3 Колесные экскаваторы
                ul.feature__list
                    li
                        p HITACHI ZX 170 W-3
                        p 60 BYN
                    li
                        p Caterpillar M318D
                        p 60 BYN

                .feature__header
                    h3 Тралы
                ul.feature__list
                    li
                        p Низкорамная площадка
                        p Договорная
                    li
                        p Полуприцеп-тяжеловоз (трал) Steelbear TR-31
                        p Договорная

                .feature__header
                    h3 Грунтовые катки
                ul.feature__list
                    li
                        p Bomag BW-211 D-4
                        p 65 BYN
                    li
                        p Hamm 3520
                        p 70 BYN
                    li
                        p Hamm 3625
                        p 75 BYN

                .feature__header
                    h3 Автокраны
                ul.feature__list
                    li
                        p Hamm Zoomlion QY90V3625
                        p 180-230 BYN
                    li
                        p Liebherr LTM 1160
                        p 280-320 BYN
                    li
                        p Grove GMK 6300
                        p 550 BYN
                    li
                        p Liebherr LTM 1500
                        p 1900 BYN

                .feature__header
                    h3 Телескопические погрузчики
                ul.feature__list
                    li
                        p Manitou MT1740
                        p 65 BYN

                .feature__header
                    h3 Автогрейдеры
                ul.feature__list
                    li
                        p ГС 14.02 (ДЗ-180)
                        p 70 BYN

                .feature__header
                    h3 Мини-техника
                ul.feature__list
                    li
                        p Экскаватор-погрузчик Venieri VF 1.33B
                        p 45 BYN

    include ./blocks/_feedback_narrow

    include ./blocks/_advantage


    section.infoBlock.prices__infoBlock
        .container
            h2.infoBlock__title.block__title Работа с нами
            .infoBlock__wrapper

                p Поскольку мы работаем с собственной спецтехникой, то можем предложить клиентам не просто демократичные цены, но и комплекс дополнительных услуг. Мы предоставляем технику в аренду уже с экипажем, а также полным комплектом необходимого для работы навесного оборудования и горюче-смазочных материалов.

                p Кроме этого, нашим клиентам доступен комплекс дополнительных выгод:

                ul

                    li скидки при заказе 2 и более единиц спецтехники заказчик;

                    li сниженная почасовая ставка при длительном сроке аренды;

                    li возможность выбрать почасовую или посменную схему оплаты;

                    li сроки аренды могут варьироваться от нескольких часов до нескольких лет.

                p Напоминаем, что на этой странице указана примерная стоимость почасовой аренды техники. Окончательная цифра рассчитывается отдельно для каждого заказчика, исходя из количества единиц заказанной техники, стоимости доставки техники на объект клиента, продолжительности срока аренды. Цена фиксируется в официальном договоре, а услуги компании оплачиваются исключительно в безналичном формате.

                p Работать с «БауАренда» удобно и выгодно. Попробуйте и убедитесь в этом сами.

                p: b * Внимание! Цены представлены за арендную ставку 1 маш-час с ГСМ и экипажем

                p: b * Доставка техники осуществляется за счет арендатора




    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block

