extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.promotions__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        span.first__current Акции
                    h1.first__title.intro__title Акции
                    p.first__text.intro__text.
                        Задача грамотно и профессионально распределить собственные ресурсы сегодня остро стоит перед любой компанией. Мы понимаем потребности клиентов, поэтому стремимся в любой ситуации предложить выгодные условия сотрудничества, используем в работе гибкую политику ценообразования.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-promotions', 'png', 'x2')


    section.promotions
        .container
            h2.promotions__title.block__title БауАренда - работа в удовольствие!
            .promotions__wrapper
                .promotions__picture
                    img(src="./images/promotions/promotions.png" alt="Акции")

                .promotions__info
                    h3 Превосходное антикризисное предложение!
                    p 15% скидка - при заказе от трёх единиц техники в аренду.
                    p Работать с нами комфортно:
                    ul 
                        li 7 дней в неделю;
                        li 23 вида техники;
                        li 100% качество.


    section.infoBlock.infoBlock__promotions
        .container
            h2.infoBlock__title.block__title Получайте максимальную выгоду с акциями «БауАренда»
            .infoBlock__wrapper

                p На этой странице Вы найдете наиболее выгодные спецпредложения компании «БауАренда». Будьте внимательны и почаще посещайте этот раздел, чтобы не пропустить информацию о новых акционных предложениях. Каждая акция ограничена по времени, поэтому не упускайте шанса сэкономить на аренде профессиональной производительной спецтехники без потери качества. Рекомендуем добавить эту страницу в избранное или в закладки, чтобы быть в курсе действующих спецпредложений компании «БауАренда».

                p Акционные предложения — это лучший вариант для новых клиентов познакомиться с возможностями и качеством обслуживания в «БауАренда» с максимальной выгодой. Минимум расходов и максимум результата. С нашими акциями возможности профессиональной спецтехники становятся доступными максимальному кругу клиентов, корпоративных и частных.

                p Акции «БауАренда» расширяют границы возможного для всех, кому необходимы услуги профессиональной строительной или автомобильной техники.


    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
