extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.qa__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps.breadcrumps
                        a(href="./index.html") Главная
                        a(href="./company.html") О компании
                        span Вопрос/ответ
                    h1.first__title.intro__title Вопрос/ответ
                    p.first__text.intro__text.
                        «Насколько быстро вы доставляете строительную технику?»#[br]Наша компания отлично понимает, что такое оперативность при строительстве – и мы стараемся уложится с доставкой любой специальной техники в кратчайшие сроки.

                    a.first__link.btn__link.btn__yellow(href="./catalog.html") Каталог
                .first__img
                    +picture('first/first-qa', 'png', 'x2')

    +qa_block('Вопрос/ответ')

    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
