extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.rental__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps.breadcrumps
                        a(href="./index.html") Главная
                        span Услуги строительной техники
                    h1.first__title.intro__title Услуги строительной техники
                    p.first__text.intro__text.
                        Необходимость в аренде дорожно-строительной техники может возникнуть в следующих случаях: у физических лиц – разовое производство земляных работ, у юридических лиц – отсутствие собственного парка техники, необходимость в сжатые сроки нарастить производственные мощности, тестирование техники перед покупкой.

                    button.first__link.btn__link.btn__yellow.rental__button Заказать технику
                .first__img
                    +picture('first/first-rental-main', 'png', 'x2')

    section.park
        .container 
            h2.park__title.block__title Наш парк техники

            .park__container

                .park__block 
                    h3.park__category: a(href="./catalog.html") Землеройная техника

                    .park__wrapper 

                        -
                            const equipment_1 = [
                                {imgUrl: 'rental1-1.png', name: 'Бульдозеры', price: '70 BYN в час', amount: '26 предложений'},
                                {imgUrl: 'rental1-2.png', name: 'Буры', price: 'от 120 BYN в час', amount: '4 предложений'},
                                {imgUrl: 'rental1-3.png', name: 'Мини техника', price: 'от 50 BYN в час', amount: '34 предложений'},
                                {imgUrl: 'rental1-4.png', name: 'Колесные экскаваторы', price: 'от 60 BYN в час', amount: '40 предложений'},
                                {imgUrl: 'rental1-5.png', name: 'Аренда гусеничного экскаватора', price: '65 BYN в час', amount: '26 предложений'},
                                {imgUrl: 'rental1-6.png', name: 'Аренда гидромолота', price: '70 BYN в час', amount: '26 предложений'},
                            ]

                        each item in equipment_1
                            +park_item(item.imgUrl, item.name, item.price, item.amount)

                .park__block 
                    h3.park__category: a(href="./catalog.html") Грузоподъемная техника

                    .park__wrapper 

                        -
                            const equipment_2 = [
                                {imgUrl: 'rental2-1.png', name: 'Аренда автокрана', price: '280 BYN в час', amount: '26 предложений'},
                            ]

                        each item in equipment_2
                            +park_item(item.imgUrl, item.name, item.price, item.amount)

                .park__block 
                    h3.park__category: a(href="./catalog.html") Грузовой транспорт

                    .park__wrapper 

                        -
                            const equipment_3 = [
                                {imgUrl: 'rental3-1.png', name: 'Самосвалы', price: 'от 65 BYN в час', amount: '8 предложений'},
                                {imgUrl: 'rental3-1.png', name: 'Тралы и низкорамные площадки', price: 'от 100 BYN в час', amount: '4 предложения'},
                            ]

                        each item in equipment_3
                            +park_item(item.imgUrl, item.name, item.price, item.amount)

                .park__block 
                    h3.park__category: a(href="./catalog.html") Дорожная техника

                    .park__wrapper 

                        -
                            const equipment_4 = [
                                {imgUrl: 'rental4-1.png', name: 'Аренда катка', price: '65 BYN в час', amount: '26 предложений'},
                                {imgUrl: 'rental4-2.png', name: 'Аренда автогрейдера', price: '70 BYN в час', amount: '26 предложений'},
                            ]

                        each item in equipment_4
                            +park_item(item.imgUrl, item.name, item.price, item.amount)

                .park__block 
                    h3.park__category: a(href="./catalog.html") Погрузочная техника

                    .park__wrapper 

                        -
                            const equipment_5 = [
                                {imgUrl: 'rental5-1.png', name: 'Аренда телескопического погрузчика', price: '70 BYN в час', amount: '26 предложений'},
                                {imgUrl: 'rental5-2.png', name: 'Колесные экскаваторы', price: '60 BYN в час', amount: '26 предложений'},
                                {imgUrl: 'rental5-3.png', name: 'Фронтальные погрузчики', price: 'от 50 BYN в час', amount: '16 предложений'},
                                {imgUrl: 'rental5-4.png', name: 'Экскаваторы-погрузчики', price: '70 BYN в час', amount: '36 предложений'},
                            ]

                        each item in equipment_5
                            +park_item(item.imgUrl, item.name, item.price, item.amount)


    include ./blocks/_feedback_narrow


    section.infoBlock.rental__infoBlock
        .container
            h2.infoBlock__title.block__title Аренда различной строительной техники
            .infoBlock__wrapper

                p Рынок аренды техники с каждым годом растет, а сама услуга приобретает все большую популярность. Это можно объяснить следующими причинами:

                ul

                    li Фиксированная стоимость аренды землеройной техники позволяет прогнозировать и контролировать расходы.

                    li Возможность увеличить производственные мощности в пиковые периоды.

                    li Отсутствие собственного парка спецтехники избавляет от множества проблем: не нужно иметь собственные ремонтные мастерские и стояночные места, вести учет работ по техническому сервису и платить налоги на имущество.

                p Сфера применения землеройной техники достаточно широка. Без нее не обойтись при бурении скважин, разработке фундаментов и траншей, снятии плодородного слоя грунта, прокладки транспортных путей, возведении и реконструкции инженерных сооружений, планировке участка перед началом строительных работ, подготовке территорий для добычи природных ресурсов. Компания «БауАренда» предлагает строительную технику в аренду в Минске: экскаваторы, бульдозеры, ямобуры, экскаваторы-погрузчики, гидромолоты, самосвалы. Техника подается на объект в технически исправном состоянии, с необходимым навесным оборудованием, квалифицированным машинистом и достаточным запасом горючего. При аренде землеройной техники на долгосрочный период действует система скидок. Если у вас остались какие-либо вопросы – звоните нам прямо сейчас и мы с радостью на них ответим.



    section.video 
        .container
            .video__block(data-video="https://youtu.be/4xUZemOV4yc")
                img(src="" alt="видео-превью")
                button.video-play.btn-reset
                    svg(width="68" height="48" viewBox="0 0 68 48")
                        path(class="video-play-shape"
                            d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
                        path(class="video-play-icon" d="M 45,24 27,14 27,34")



    section.causes.rental__causes
        .container.causes__container
            .causes__main

                h2.causes__title.block__title Почему аренда специальной техники - это выгодно?

                p.causes__text За несколько предыдущих лет четко наметилась тенденция, когда аренда строительной техники становится все более популярной услугой среди строительных компаний и частных клиентов. Это вполне объяснимо, ведь у аренды строительной спецтехники немало весомых преимуществ перед покупкой оборудования в собственность. Среди них:

            .causes__wrapper

                -
                    const causes_list = [
                        { imageUrl: "./images/causes/1.svg", description: 'Возможность быстро взять в аренду спецтехнику нужного типа позволяет в короткие сроки увеличить производственные мощности, если собственное оборудование вышло из строя или наметилось отставание от утвержденного графика выполнения работ.' },
                        { imageUrl: "./images/causes/2.svg", description: 'Экономия денежных средств за счет отсутствия затрат на зарплату водителей и операторов техники, ремонт и сервисное обслуживание машин, амортизацию.' },
                        { imageUrl: "./images/causes/3.svg", description: 'Большой выбор даже редких машин. Аренда машин спецтехники позволяет найти для строящегося объекта за умеренную плату даже сложное и редкое дорогостоящее оборудование, причем сразу с услугами подготовленного опытного машиниста.' },
                        { imageUrl: "./images/causes/4.svg", description: 'Компании не нужно заботиться о консервации техники на зиму, искать стоянку или ангар для машин на период межсезонья.' },
                    ];

                each item in causes_list
                    +causes_item(item.imageUrl, item.description)


    include ./blocks/_feedback_full_width



    section.advantage.rental__advantage
        .container
            .advantage__container
                .advantage__main
                    h2.advantage__title.block__title Аренда спецтехники у нас - выгодно и надежно

                    p.advantage__text Аренда спецтехники – профильное направление работы для компании «БауАренда». Качество наших услуг аренды спецтехники успели справедливо оценить сотни компаний и частных заказчиков. Благодаря этому, за время работы мы обзавелись широким кругом постоянных клиентов и деловых партнеров. А это лучший маркер и объективное свидетельство успеха компании, правильно выбранного подхода к ведению бизнеса.

                    a.advantage__link.btn__link.btn__yellow(href="#") Подробнее

                .advantage__wrapper

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/1.svg' alt="преимущество")
                        h4.advantage__header 100% компетентный персонал
                        p.advantage__description Все наши машинисты обладают профильным образованием и имеют весомый опыт работы

                    .advantage__border

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/2.svg' alt="преимущество")
                        h4.advantage__header 24/7 мы работаем всегда!
                        p.advantage__description Мы понимаем, что оперативность в строительстве очень важны.

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/3.svg' alt="преимущество")
                        h4.advantage__header 40% экономии
                        p.advantage__description Наши клиенты получают очень выгодные скидки.

                    .advantage__border

                    .advantage__item
                        .advantage__icon
                            img(src='./images/advantage/4.svg' alt="преимущество")
                        h4.advantage__header 37 наименований спецтехники
                        p.advantage__description Наш парк состоит из 37 различных единиц спецтехники.


    include ./blocks/_popular

    +qa_block('Часто задаваемые вопросы')

    include ./blocks/_reviews

    include ./blocks/_fixed_block


