extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.reviews__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        span.first__current Отзывы
                    h1.first__title.intro__title Отзывы
                    p.first__text.intro__text.
                        На белорусском рынке аренды спецтехники работает пока не так много фирм, но все равно выбрать среди них компанию, которая точно не подведет, не просто. Неправильный выбор грозит не только негативными личными впечатлениями, но и потерями времени и денег, а порой и деловой репутации, что гораздо серьезнее.

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-reviews', 'png', 'x2')

    section.reviews-list
        .container
            h2.reviews-list__title.block__title Отзывы заказчиков услуг «БауАренда»

            .reviews-list__wrapper

                -
                    const reviews_data = [
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Строительная компания АгриПО, директор Ореховский В.В.', text: 'Выражаем признательность за сотрудничество. Компания «БауАренда» предоставила в аренду тралы для транспортировки леса. Техника полностью отрабатывает потраченные деньги. Никаких «случайностей» в виде выхода из строя не произошло. По организации работы тоже все замечательно. Подписали договор, и уже на следующее утро тралы были в нашем распоряжении. Рекомендуем ООО «БауАренда» как надежного контрагента!' },
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Виктор Станиславович, главный механик ОАО «Белремстройсвязь»', text: 'Заказывали экскаватор-погрузчик. С задачей справился на «отлично». Цены разумные, можно найти ниже, но и обслуживание с качеством и скоростью выполнения будет не сравнить.' },
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Алексей, ООО «Верхний город - 1»', text: 'На протяжении долгого времени пользуемся услугами компании «БауАренда», а именно, берем в пользование технику. Техника всегда в хорошем состоянии, а сотрудники компании готовы подобрать нужный вариант для новых работ. Спасибо! Успехов и процветания!' },
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Денис Алексевич, директор ООО «Яркида»', text: 'Обратился в компанию «БауАренда» по рекомендации знакомого и остался очень доволен. Сотрудники компании помогли в подборе необходимой техники для работ и всегда в срок выполняют договоренности. Приятно находить партнеров, работа с которыми перерастает в долгосрочное сотрудничество и в работе которых уверен на 100%!' },
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Панфиленко Владимир, СУ-22 ОАО "Минскпромстрой"', text: 'Спасибо компании "Бауаренда" и ее сотрудникам. Брал в аренду экскаватор-погрузчик. Сотрудники компании помогли подобрать нужный вариант экскаватора. Профессионалы и очень приятные люди! Успехов и побольше довольных клиентов!' },
                        { imageUrl: './images/reviews/rev1.jpg', header: 'Владимир Светлов', text: 'Хочу поблагодарить компании за оказанную помощь при строительстве участка. Ваши специалисты помогли вывезти грунт и подготовить территорию к дальнейшей работы.' },

                    ];

                each item in reviews_data
                    +reviews_list_item(item.imageUrl, item.header, item.text)

                .reviews__fullscreen
                    .reviews__fullscreen-wrapper

                        img.reviews__fullscreen-img(src="./images/reviews/rev1.jpg" alt="скриншот отзыва")

                        .reviews__fullscreen-closer
                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1.5 1.57617L22.5 22.5762M22.5 1.57617L1.5 22.5762" stroke="white" stroke-width="2")

            include ./blocks/_pagination



    include ./blocks/_feedback_narrow

    section.grateful
        .container
            h2.grateful__title.block__title Отзывы благодарных клиентов – постоянных и нет

            .qrateful__wrapper 
                p Рассказывать о собственных достижениях и успехах недостаточно для того, чтобы клиенты выбор в нашу пользу. Конечно, мы понимаем, что в сегодняшних условиях жесткой конкуренции мало кто готов поверить на слово. Поэтому мы стремимся к тому, чтобы нас рекомендовали те, кто уже успел воспользоваться услугами компании «БауАренда» и оценить качество нашего сервиса. А недостатка в довольных клиентах, которые стали постоянными заказчиками, у нас нет.

                p Поэтому мы приняли решение не расписывать долго и подробно свои достоинства, а предоставить слово тем, кто уже с нами работал и продолжает это делать. На этой странице сайта компании «БауАренда» мы собрали вместе отзывы, мнения и комментарии наших заказчиков об услугах компании. Изучая их, Вы увидите, в чем наши сильные стороны, почему компании и частные клиенты выбирают нас, чем наш сервис отличается от предложений других фирм, работающих в сфере аренды спецтехники.

                p Отзыв каждого клиента для нас — подтверждение того, что мы выбрали верный подход к ведению бизнеса. Попробуйте — и Вы убедитесь в справедливости этих слов.



    -
        const catalog_data = [
        // Экскаваторы-погрузчики
            {
            imgName: "1.jpg",
            header: "Аренда экскаваторов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'excavator'
            },
        // Самосвалы
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 150,
            popularity: 1,
            category: 'tipper'
            },
            {
            imgName: "2.jpg",
            header: "Аренда самосвалов CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 2,
            category: 'tipper'
            },
        // Бульдозеры
            {
            imgName: "3.jpg",
            header: "Аренда бульдозеров CATERPILLAR",
            name1: "Объём фронтального ковша",
            value1: "1,3 м3",
            name2: "Высота выгрузки",
            value2: "2690 мм",
            name3: "Мощность двигателя",
            value3: "100 л.с.",
            price: 100,
            popularity: 1,
            category: 'dozer'
            },
        ]

    +catalog(catalog_data)

    include ./blocks/_feedback_full_width
    include ./blocks/_fixed_block
