extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.services-list__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps.breadcrumps
                        a(href="./index.html") Главная
                        span Услуги
                    h1.first__title.intro__title Услуги
                    p.first__text.intro__text.
                        Выпало много снега, и Вы не знаете, что с ним делать? Накопился строительный мусор на объекте? Все это и многое другое легко решить, если обратить внимание на услуги компании «БауАренда». 12 лет успешной работы в сфере аренды оборудования специального назначения – лучшее подтверждение, что Вы обратились по адресу. В Вашем распоряжении огромный парк современной техники, с помощью которой можно выполнить самые различные задачи.

                    button.first__link.btn__link.btn__yellow.rental__button(type="button") Получить консультацию
                .first__img
                    +picture('first/first-services-list', 'png', 'x2')


    section.points
        .container
            h2.points__title.block__title Услуги, которые выполняет наша фирма

            ul.points__wrapper

                li 
                    p Работаем не только в Минске, но и по всей Беларуси. К Вашим услугам 59 единиц полностью исправной техники. Если это необходимо, оборудование предоставляется вместе с опытным оператором. Наш главный принцип работы – создание комфортной среды для сотрудничества. Сделаем все, чтобы Вы порекомендовали нас своим партнерам.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/1.webp, images/services/1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/1.jpg" srcset="images/services/1.jpg, images/services/1@2x.jpg 2x" alt="")


                li 
                    h3 Вывоз и утилизация грунта
                    p Мы поможем Вам вывезти грунт по самой низкой стоимости в Республике Беларусь.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Вывоз и утилизация грунта
                        a(href="./services-item.html") Подробнее

                li 
                    h3 Бурение отверстий
                    p Поможем пробурить в комфортное для Вас время и в любые погодные условия.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Бурение отверстий
                        a(href="./services-item.html") Подробнее

                li 
                    h3 Уборка и вывоз снега
                    p Вывоз снега с компанией «БауАренда» – больше не проблема. Поможем и с транспортировкой.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Уборка и вывоз снега
                        a(href="./services-item.html") Подробнее

                li 
                    h3 Земляные работы
                    p Мы поможем провести земляные работы любой сложности и в любое время года.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Земляные работы
                        a(href="./services-item-subservices.html") Подробнее

                li 
                    h3 Вывоз строительного мусора
                    p Мы поможем очистить строительную площадку от ненужного хлама.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Вывоз строительного мусора
                        a(href="./services-item.html") Подробнее

                li 
                    h3 Доставка негабаритных грузов
                    p Мы предлагаем своим клиентам самую оптимальную стоимость доставки в Беларуси.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Доставка негабаритных грузов
                        a(href="./services-item.html") Подробнее

                li 
                    h3 Продажа строительного песка
                    p Мы предлагаем поставку сырья для строительства. У песка нет альтернативной замены.

                    div
                        picture(class="picture object-fit-cover")
                            source(class="object-fit-cover" srcset="images/services/services1.webp, images/services/services1@2x.webp 2x" type="image/webp")
                            img(class="picture__img object-fit-cover" src="images/services/services1.png" srcset="images/services/services1.png, images/services/services1@2x.png 2x" alt="")
                        span Продажа строительного песка
                        a(href="./services-item.html") Подробнее


    include ./blocks/_feedback_narrow

    include ./blocks/_advantage

    section.work
        .container 
            h2.work__title.block__title Как мы работаем

            ul.work__steps 

                li.work__step
                    h3 Консультируем
                    +icon('work-icon1')

                li.work__step
                    h3 Заключаем договор
                    +icon('work-icon2')

                li.work__step
                    h3 Проводим необходимые работы
                    +icon('work-icon3')

                li.work__step
                    h3 Предоставляем отчетность
                    +icon('work-icon4')

                li.work__step
                    h3 Предоставляем все закрывающие документы
                    +icon('work-icon5')

                li.work__step
                    picture(class="picture object-fit-cover")
                        source(class="object-fit-cover" srcset="images/work/work-bg.webp, images/work/work-bg@2x.webp 2x" type="image/webp")
                        img(class="picture__img object-fit-cover" src="images/work/work-bg.png" srcset="images/work/work-bg.png, images/work/work-bg@2x.png 2x" alt="")


    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block

    -   const company_block_title = 'У нас можно арендовать спецтехнику'
    -   const company_block_button = {value: 'Аренда спецтехники', link: './rental.html'}

    +company_block(company_block_title, company_block_button)
