extends base/_layout
block head
    title БауАренда - аренда строительной техники
block page

    section.first.warranties__page
        .container
            .first__wrapper
                .first__info
                    .first__breadcrumps
                        a.first__prev(href="./index.html") Главная
                        a.first__prev(href="./company.html") О компании
                        span.first__current Гарантии
                    h1.first__title.intro__title Гарантии
                    p.first__text.intro__text.
                        Популярность услуг аренды строительной и другой спецтехники постоянно растет. Такой сервис востребован как среди частных, так и среди корпоративных клиентов, ведь арендовать на время сложную технику намного проще, чем покупать ее в собственность. Вопрос для  многих в том, как найти надежную компанию, предоставляющую технику в аренду на выгодных условиях и точно в указанный срок?   

                    a.first__link.btn__link.btn__yellow(href="#") Каталог
                .first__img
                    +picture('first/first-warranties', 'png', 'x2')


    section.warranties
        .container
            h2.warranties__title.block__title «БауАренда» — аренда спецтехники с гарантией качества 
            .warranties__about
                h3 Почему выбирают нас:
                p Компания «БуаАренда» не один год работает на белорусском рынке аренды строительной и автомобильной спецтехники. За это время мы успели обзавестись большим кругом постоянный клиентов. Компании и частные клиенты обращаются к нам снова и снова, потому что цель компании «БауАренда» — предоставить заказчику комплексную услугу, которая решит его проблему, а не просто заработать.
                p Клиенты выбирают сервис «БауАренда», не в последнюю очередь благодаря гарантиям, которые предоставляет наша компания:

            .warranties__wrapper

                .warranties__block
                    h3 Собственный парк спецтехники с большим выбором оборудования.
                    p Автопарк «БауАренда» состоит из 37 единиц строительной спецтехники, а также 22 единиц автомобильной техники. У нас каждый заказчик найдет технику, подходящую для решения собственных задач. Экскаваторы, погрузчики, бульдозеры, самосвалы, автогрейдеры, краны и другая техника для строительства зданий, дорог, земляных работ — все это найдется в ассортименте спецтехники «БауАренда».

                .warranties__block
                    h3 Прозрачная схема работы на основании официального договора.
                    p Права и обязанности заказчика услуг и компании детально прописаны в договоре на оказание арендных услуг. Вы платите не за нечто абстрактное, а за конкретную услугу, условия оказания которой обозначены официальным договором.

                .warranties__block
                    h3 Сотрудничаем с корпоративными и частными клиентами.
                    p Компания «БауАренда» предоставляет спецтехнику в аренду как организациям, так и индивидуальным предпринимателям, и физическим лицам. С нами возможности мощной современной техники доступны каждому. Не важно, обращается к нам крупная строительная фирма или владелец земельного участка, для каждого мы подберем выгодные условия сотрудничества.

                .warranties__block
                    h3 Понятные цены.
                    p Стоимость наших услуг соответствует рыночной ситуации. Мы не стремимся заработать как можно больше любой ценой. Наша цель — выстроить взаимовыгодные длительные отношения с каждым заказчиком. Без честного и прозрачного механизма ценообразования это невозможно.

                .warranties__block
                    h3 Комплексное решение проблем клиентов.
                    p В компании «БауАренда» Вы получаете больше, чем просто временную аренду оборудования. Мы подходим к решению задач клиентов комплексно. Техника доставляется на объект точно в срок, с экипажем и запасом топлива. Вам не нужно продумывать логистику и искать операторов, все уже готово к работе.

                .warranties__block
                    h3 Работаем по всей Беларуси.
                    p Компания «БауАренда» работает на всей территории Беларуси. Это значит, что Вы можете воспользоваться нашими услугами, находясь в любой точке страны – и мы предоставим Вам специальную технику. Стоит только дождаться доставки на место.

                .warranties__block
                    h3 Надёжность оборудования и готовность в любое время
                    p Наше оборудование готово к использованию в любое время года и подвергается систематическому приведению в порядок. Арендуя специальную технику у нас, Вы можете быть уверены в исправности и качественном обслуживании.

                .warranties__block
                    p Мы работаем без выходных в любое время суток. Звоните, оставляйте заявку, и наши специалисты помогут подобрать нужную технику для решения любых задач.


    include ./blocks/_feedback_narrow

    include ./blocks/_popular

    include ./blocks/_reviews

    include ./blocks/_feedback_full_width

    include ./blocks/_fixed_block
