section.advantage.hotline__advantage.prices__advantage
    .container
        .advantage__container
            .advantage__main
                h2.advantage__title.block__title Почему стоит обратить внимание именно на нас?

                .advantage__text
                    p Самое главное – Вы платите только за фактическое время использования. Час, неделя, месяц – все зависит от реальной необходимости в нашей технике. Это гораздо удобнее и выгоднее, чем содержать собственный парк. 
                    p Услуги компании охватывают все сферы, в которых может потребоваться трактор, бульдозер, самосвал и т.д. Если Вы занимаетесь строительством или большим ремонтом, отвечаете за уборку или транспортировку – точки соприкосновения обязательно найдутся. Заручитесь поддержкой надежной структуры, чья репутация безупречна. Все вопросы легко уточнить у менеджеров.


            .advantage__wrapper

                .advantage__item
                    .advantage__icon
                        +icon('prices1')
                    h4.advantage__header Всегда исправная техника;
                    p.advantage__description У наших техников профильное образование и весомый опыт – техника в порядке.

                .advantage__border

                .advantage__item
                    .advantage__icon
                        +icon('prices2')
                    h4.advantage__header Мы подбираем модели техники под Ваши нужды
                    p.advantage__description С нами нет необходимости изучать приспособления и муторно думать.

                .advantage__item
                    .advantage__icon
                        +icon('prices3')
                    h4.advantage__header Не нужно думать о месте хранения;
                    p.advantage__description Нашу технику можно арендовать на пару дней, в промежутках возвращая обратно.

                .advantage__border

                .advantage__item
                    .advantage__icon
                        +icon('prices4')
                    h4.advantage__header Крупному партнеру – хорошая скидка.
                    p.advantage__description Если Вы арендуете несколько машин для стройки – Вы получите скидку.
