section.feedback.first__feedback
    .container
        .feedback__wrapper
            h2.feedback__title.block__title Обратная связь

            p.feedback__subtitle Нет времени выбирать? Заполните заявку и сотрудник вас проконсультирует.

            form.feedback__form#second(action="#" novalidate)
                p.error__message Заполните все обязательные для заполнения поля. Номер телефона должен быть не короче 9 символов.
                .feedback__item
                    input.feedback__name(type="text" placeholder="Имя*" name="name" minlength="2" required)

                .feedback__item
                    input.feedback__phone(type="text" placeholder="Телефон*" name="phone" minlength="9" required)

                input.feedback__submit.btn__link.btn__yellow#second_btn(type="submit" value="Отправить" name="submit")
