section.feedback.second__feedback
    .container

        h2.feedback__title.block__title Заказать спецтехнику

        p.feedback__subtitle Получите индивидуальное предложение на аренду техники.

        form.feedback__form(action="#" novalidate)
            p.error__message Заполните все обязательные для заполнения поля. Номер телефона должен быть не короче 9 символов.

            .feedback__item
                input.feedback__name(type="text" placeholder="Имя*" name="name" required)

            .feedback__item
                input.feedback__phone(type="text" placeholder="Телефон*" name="phone" minlength="9" required)

            input.feedback__submit.btn__link.btn__yellow(type="submit" value="Отправить" name="submit")
