
header.header#top

    .header__logo.header__logo--small
        a(href="./index.html")
            img.logo__image(src="./images/header/logo-small.svg" alt="logo")

    .header__wrapper

        .header__top
            .container
                nav.header__menu
                    ul.header__menu-list
                        li
                            a(href="#") Аренда техники

                        li.menu-item-has-children
                            a(href="./company.html") О компании
                                //- svg(width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg")
                                //-     path(d="M1 1L4.5 5L8 1" stroke="#1F1E1D" stroke-linecap="round" stroke-linejoin="round")
                            ul.sub-menu
                                li: a(href="./our-clients.html") Наши клиенты
                                li: a(href="./our-partners.html") Наши партнеры
                                li: a(href="#") Статьи
                                li: a(href="./reviews.html") Отзывы
                                li: a(href="./warranties.html") Гарантии
                                li: a(href="./licenses.html") Лицензии и сертификаты
                                li: a(href="./jobs.html") Вакансии
                                li: a(href="qa.html") Вопрос/ответ

                        li
                            a(href="./prices.html") Цены

                        li.menu-item-has-children
                            a(href="#") Услуги

                            ul.sub-menu
                                li: a(href="#") Земляные работы
                                li: a(href="#") Бурение отверстий
                                li: a(href="#") Вывоз и утилизация грунта
                                li: a(href="#") Вывоз строительного мусора
                                li: a(href="#") Доставка негабаритных грузов
                                li: a(href="#") Продажа строительного песка
                                li: a(href="#") Уборка и вывоз снега

                        li
                            a(href="./news.html") Новости

                        li
                            a(href="./promotions.html") Акции

                        li.menu-item-has-children
                            a(href="./contacts.html") Контакты

                            ul.sub-menu
                                li: a(href="./hotline.html") Горячая линия

                .header__search
                    img.header__icon(src="./images/header/search.svg" alt="icon")
                    p поиск

        .header__bottom
            .container
                .header__logo.header__logo--big
                    a(href="./index.html")
                        img.logo__image(src="./images/header/logo.svg" alt="logo")


                nav.header__contacts
                    .header__item
                        a.header__contact(href="mailto:info@bauarenda.by") info@bauarenda.by

                    .header__item
                        a.header__contact(href="tel:+375297477171") +375 29 747-71-71

                    .header__item
                        a.header__contact(href="tel:+375291622365") +375 29 162-23-65
                        include ./_header_messengers

                    .header__item
                        a.header__contact(href="tel:+375173744808") +375 17 374-48-08

    .header__menu-small
        .header__search-small
            img(src="./images/header/search.svg" alt="поиск")

        .header__burger
            span


    .header__search-frame
        .header__search-field

            .header__search-closer
                img(src="./images/header/header-search-closer.svg" alt="закрыть окно поиска")

            .header__search-top
                .header__search-request
                    input.header__search-input(type="text" placeholder="Начните поиск")

                nav.header__search-nav
                    ul.header__search-categories
                        li.header__search-category.active Аренда
                        li.header__search-category Новости
                        li.header__search-category Услуги
                        li.header__search-category Прочее

            .header__search-output
                p.header__search-init.active Популярное

                .header__search-results

                    .header__search-item
                        p.header__search-name Аренда экскаваторов CATERPILLAR
                        p.header__search-price 100 BYN
                        a(href="#")

                    .header__search-item
                        p.header__search-name Аренда экскаватора-погрузчика JCB 4CX
                        p.header__search-price 60 BYN
                        a(href="#")

                    .header__search-item
                        p.header__search-name Аренда экскаватора JCB 3CX
                        p.header__search-price 70 BYN
                        a(href="#")

                    .header__search-item
                        p.header__search-name Аренда JCB JS260 LC полуболотный
                        p.header__search-price 78 BYN
                        a(href="#")

                    .header__search-item
                        p.header__search-name Аренда Сaterpillar 323 DL
                        p.header__search-price 100 BYN
                        a(href="#")

                    .header__search-item
                        p.header__search-name Аренда Сaterpillar 325 DL
                        p.header__search-price 50 BYN
                        a(href="#")
