<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
    <path d="M25 50.0005C38.8104 50.0005 50 38.8109 50 25.0005C50 11.1901 38.8104 0.000488281 25 0.000488281C11.1896 0.000488281 0 11.1901 0 25.0005C0 38.8109 11.1896 50.0005 25 50.0005ZM11.4396 24.4588L35.5438 15.1651C36.6625 14.7609 37.6396 15.438 37.2771 17.1297L37.2792 17.1276L33.175 36.463C32.8708 37.8338 32.0562 38.1672 30.9167 37.5213L24.6667 32.9151L21.6521 35.8192C21.3187 36.1526 21.0375 36.4338 20.3917 36.4338L20.8354 30.0734L32.4187 19.6088C32.9229 19.1651 32.3062 18.9151 31.6417 19.3567L17.3271 28.3692L11.1562 26.4442C9.81667 26.0192 9.7875 25.1047 11.4396 24.4588Z" fill="#FFCB09"/>
</svg>
