<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30C23.2843 30 30 23.2843 30 15C30 6.71573 23.2843 0 15 0ZM16.2806 15.7343V23.2473H13.2446V15.7288H10.721V12.7872H13.2391V10.6284C13.2391 8.11767 14.7772 6.75001 17.0176 6.75001C17.773 6.74707 18.5279 6.78593 19.279 6.86642V9.48901H17.7353C16.5171 9.48901 16.2806 10.0702 16.2806 10.919V12.7927H19.1919L18.8152 15.7343H16.2806Z" fill="#FFCB09"/>
</svg>
