mixin company_block(title, company_block_button)

    section.company
        .container
            h2.company__title.block__title= title

            .company__wrapper

                .company__block
                    .company__part
                        span.company__numbers 37
                        .company__text 
                            p единиц строительной техники
                    .company__part
                        span.company__numbers 22
                        .company__text
                            p единиц автотехники

                .company__block
                    .company__text.company__text--white
                        p Стоит отметить, что аренда – весьма востребованная услуга. Это не случайно, ведь отпадает необходимость в покупке дорогостоящего оборудования. За небольшие деньги Вы можете выполнить все поставленные задачи. Не нужно обновлять и ремонтировать автопарк, беспокоиться о месте стоянки, выплачивать зарплату операторам и сервисным работникам. Все это берет на себя «БауАренда».

                .company__block
                    .company__text.company__text--white
                        p Мы не просто предлагаем спецтехнику, а делаем так, чтобы заказчик решил с нашей помощью все свои вопросы. Это значит, что сотрудники нашей компании готовы дать экспертную консультацию по поводу особенностей применения конкретных «представителей» автопарка. Подберем бульдозер с любым рабочим органом, предоставим в пользование фронтальный погрузчик – сделаем все, чтобы Вы остались довольны обращением к нам.

                .company__block
                    .company__text
                        h3 Стремимся найти взаимопонимание с клиентом
                        p ведь только так можно добиться высокого уровня оказания услуг.

                .company__block
                    .company__text
                        h3 Работаем быстро, без промедлений
                        p Ценим свое и чужое время. Вы сразу убедитесь в этом, обратившись к нам.

            if company_block_button

                a.company__link.btn__link.btn__yellow(href= company_block_button.link)= company_block_button.value
