mixin filters_block(title, min, max)
    .filters__block
        h4.filters__name= title
        .filters__set
            .filters__slider
                .filters__track
            .filters__inputs
                input.filter__inputMin.filters__range(type='range' min= min max= max value= min step="1" data-filter= title)
                input.filter__inputMax.filters__range(type='range' min= min max= max value= max step="1" data-filter= title)
        .filters__values
            p.filters__valueMin от #{min}
            p.filters__valueMax от #{max}
