mixin technics_item(imgUrl, name, price, offers)

    .technics__item
        a(href="#")
        .technics__img
            img(src= imgUrl alt= name)

        p.technics__name= name

        p.technics__price= price

        p.technics__offers= offers
