mixin catalog_card()
    .catalog__card.card
        .card__picture 
            img(src="./images/catalog/1.jpg" alt="Аренда экскаватора JCB JS260 LC полуболотный")

        .card__info
            h4.card__title Аренда экскаватора JCB JS260 LC полуболотный

            .card__features
                .card__feature
                    span.card__featureName Объем фронтального ковша
                    span.card__valueName 1,3 м3
                .card__feature
                    span.card__featureName Высота выгрузки
                    span.card__valueName 2690 мм
                .card__feature
                    span.card__featureName Мощность двигателя
                    span.card__valueName 100 л.с.
                .card__feature
                    span.card__featureName 4я характеристика
                    span.card__valueName 4 м
                .card__feature
                    span.card__featureName 5я характеристика
                    span.card__valueName 5 м

            .card__prices
                .card__price
                    span.card__priceName цена за час
                    span.card__priceValue 80 BYN
                .card__price
                    span.card__priceName цена за смену (8 ч.)
                    span.card__priceValue 8650 BYN

            .card__button.btn__link.btn__yellow Арендовать
