mixin reviews_item(imageUrl, header, text)

    .reviews__item.swiper-slide
        .reviews__preview
            .reviews__img
                img(src= imageUrl alt="отзыв")
                //- img(src= imageUrl alt="отзыв")

        .reviews__info
            h4.reviews__header= header
            p.reviews__text= text
            a.reviews__link(href="#")
