mixin partners_item(logo)
    .partners__item
        img.partners__logo(src="./images/partners/" + logo)
        .partners__info
            p.partners__about Частное предприятие «Фаворит» - запчасти и сервис для спецтехники
            a.partners__link(href="#") Перейти
