mixin catalog(catalog_data)
    section.catalog
        .container
            h2.catalog__title.block__title Каталог техники

            .catalog__container

                .catalog__categories.categories

                    +categories_group()


                .catalog__content
                    .catalog__filters.filters

                        .filters__current

                            //- .filters__elem
                            //-     span.filters__elemText Глубина копания от 4 до 8
                            //-     button.filters__elemRemove
                            //-         svg(width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg")
                            //-             path(d="M0.515625 1L9.51563 10M9.51563 1L0.515625 10" stroke="#E3E3E3" stroke-linejoin="round")


                            button.filters__clear Сбросить фильтры


                        button.filters__show
                            span Фильтры
                            svg(width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 3H18.5" stroke="#1F1E1D" stroke-linecap="round" stroke-linejoin="round")
                                path(d="M1 12H18.5" stroke="#1F1E1D" stroke-linecap="round" stroke-linejoin="round")
                                circle(cx="3" cy="3" r="2" fill="white" stroke="#1F1E1D" stroke-linecap="round" stroke-linejoin="round")
                                circle(cx="17" cy="12" r="2" fill="white" stroke="#1F1E1D" stroke-linecap="round" stroke-linejoin="round")
                            span.filters__counter 4

                        .filters__list
                            .filters__list-wrapper
                                .filters__heading Разделы
                                .filters__categories
                                    +categories_group()

                                .filters__heading Фильтры
                                .filters__wrapper
                                -
                                    const filters = [
                                        {
                                            title: 'Глубина копания',
                                            min: 4,
                                            max: 8,
                                        },
                                        {
                                            title: 'Высота выгрузки',
                                            min: 6,
                                            max: 9,
                                        },
                                        {
                                            title: 'Объем ковша',
                                            min: 0,
                                            max: 3,
                                        },
                                        {
                                            title: 'Максимальный вылет стрелы',
                                            min: 4,
                                            max: 18,
                                        },
                                        {
                                            title: 'Мощность двигателя',
                                            min: 90,
                                            max: 265,
                                        },
                                        {
                                            title: 'Высота подъема ковша',
                                            min: 8,
                                            max: 12,
                                        },
                                    ]
                                each filter in filters
                                    +filters_block(filter.title, filter.min, filter.max)

                    .catalog__wrapper
                    button.catalog__more.btn__link.btn__grey Показать больше

            //- .catalog__nav
            //-     .catalog__search
            //-         input.catalog__input(type="text" placeholder="Поиск")
            //-         img.catalog__icon(src="./images/catalog/search.svg" alt="search")

            //-     .catalog__sort
            //-         span.catalog__sort-type Сортировать по
            //-         img.catalog__arrow(src="./images/catalog/arrow-down.svg" alt="")

            //-         ul.catalog__sort-list
            //-             li.catalog__sort-item(data-type="popularity" data-text="По популярности") Популярности
            //-             li.catalog__sort-item(data-type="fromMinToMax" data-text="По возрастанию") Возрастанию цены
            //-             li.catalog__sort-item(data-type="fromMaxToMin" data-text="По убыванию") Убыванию цены

            //- .catalog__categories-wrapper
            //-     ul.catalog__categories
            //-         -
            //-             const catalog_list = [
            //-                 { name: 'Все', type: 'all' },
            //-                 { name: 'Экскаваторы-погрузчики', type: 'excavator' },
            //-                 { name: 'Бульдозеры', type: 'tipper' },
            //-                 { name: 'Гусеничный экскаватор', type: 'dozer' },
            //-                 { name: 'Погрузчик', type: 'loader' },
            //-                 { name: 'Фронтальный погрузчик', type: 'fLoader' },
            //-                 { name: 'Колесный экскаватор', type: 'wheelDigger' },
            //-                 { name: 'Тралы и низкорамные площадки', type: 'flail' },
            //-                 { name: 'Грунтовой каток', type: 'truck' },
            //-                 { name: 'Автокран', type: 'crane' },
            //-                 { name: 'Автогрейдер', type: 'grader' },
            //-                 { name: 'Телескопический погрузчик', type: 'telescopicLoader' },
            //-                 { name: 'Мини-техника', type: 'mini' },
            //-                 { name: 'Гидромолоты', type: 'hydraulicHammer' },
            //-                 { name: 'Ямобур (буровая техника)', type: 'drillingEquipment' },
            //-                 ];

            //-         each item in catalog_list
            //-             +catalog_catogory(item.name, item.type)

            //-     .clearfix

            //- .catalog__wrapper


            //-     each item in catalog_data
            //-         +catalog_item(item.imgName, item.header, item.name1, item.value1, item.name2, item.value2, item.name3, item.value3, item.price)

            //- .catalog__nofound
            //-     p.catalog__sorry Нам жаль, но по вашему запросу ничего не нашлось
            //-     .catalog__recommendation
            //-         p Скорректируйте ваш запрос или
            //-         p
            //-             a(href="#") передите в каталог




            //- button.catalog__more.btn__link.btn__grey Показать больше
