.news__wrapper

    .news__item.element-animation
        h4.news__header
            a(href="./news-item.html") «Белорусская строительная неделя» снова в Минске

        .news__info
            p.news__published сегодня 10:00

            .news__statistics
                .news__views
                    img.news__icon(src="./images/news/view.svg" alt="количество просмотров")
                    span 236

                .news__comments
                    img.news__icon(src="./images/news/comment.svg" alt="количество просмотров")
                    span 0

    .news__item.element-animation
        h4.news__header
            a(href="./news-item.html") Как правильно установить автокран на рабочей строительной площадке

        .news__info
            p.news__published сегодня 10:00

            .news__statistics
                .news__views
                    img.news__icon(src="./images/news/view.svg" alt="количество просмотров")
                    span 236

                .news__comments
                    img.news__icon(src="./images/news/comment.svg" alt="количество просмотров")
                    span 0

    .news__item.element-animation
        h4.news__header
            a(href="./news-item.html") Область применения телескопических погрузчиков

        .news__info
            p.news__published сегодня 10:00

            .news__statistics
                .news__views
                    img.news__icon(src="./images/news/view.svg" alt="количество просмотров")
                    span 236

                .news__comments
                    img.news__icon(src="./images/news/comment.svg" alt="количество просмотров")
                    span 0

    .news__item.element-animation
        h4.news__header
            a(href="./news-item.html") Весомые причины для аренды специализированной техники

        .news__info
            p.news__published сегодня 10:00

            .news__statistics
                .news__views
                    img.news__icon(src="./images/news/view.svg" alt="количество просмотров")
                    span 236

                .news__comments
                    img.news__icon(src="./images/news/comment.svg" alt="количество просмотров")
                    span 0

    .news__item.element-animation
        h4.news__header
            a(href="./news-item.html") Особенности организации вывоза строительного мусора и грунта

        .news__info
            p.news__published сегодня 10:00

            .news__statistics
                .news__views
                    img.news__icon(src="./images/news/view.svg" alt="количество просмотров")
                    span 236

                .news__comments
                    img.news__icon(src="./images/news/comment.svg" alt="количество просмотров")
                    span 0
