.pagination
    .pagination__item.pagination__interactive
        img(src='./images/intro/intro-prev.svg' alt='prev')
    .pagination__item.pagination__interactive.active 1
    .pagination__item.pagination__interactive 2
    .pagination__item.pagination__interactive 3
    .pagination__item.pagination__interactive 4
    .pagination__item ...
    .pagination__item.pagination__interactive 10
    .pagination__item.pagination__interactive
        img(src='./images/intro/intro-next.svg' alt='next')

