ul.page-numbers
    li
        span.page-numbers.prev
    li
        span.page-numbers.current 1
    li
        a.page-numbers 2
    li
        a.page-numbers 3
    li
        a.page-numbers 4
    li
        span.page-numbers.dots ...
    li
        a.page-numbers 10
    li
        span.page-numbers.next

