.first {
  padding: 71px 0 70px;
  background-color: var(--color_light_blue);

  @include md {
    padding: 81px 0 120px;
  }

  @include r(991px) {
    padding: 55px 0 90px;
  }

  @include xxs {
    padding: 58px 0 100px;
  }

  @include xxxs {
    padding: 30px 0 120px;
  }
}

.first__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 8px;
}

.first__info {
  max-width: 540px;
  padding-top: 50px;

  @include md {
    max-width: 528px;
    padding-top: 36px;
  }

  @include r(991px) {
    max-width: 88.88%;
  }

  @include xs {
    max-width: 100%;
  }

  @include xxxs {
    padding-top: 0;
  }
}

.first__breadcrumps {
  margin-bottom: 10px;
}

.first__prev {
  font-family: var(--font_main);
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  color: #a3a3a3;
  transition: all 0.2s ease-out;

  &::after {
    content: "/";
    margin: 0 6px;
  }

  &:hover {
    color: #4d5051;
  }
}

.first__current {
  font-family: var(--font_main);
  font-weight: 500;
  font-size: 12px;
  line-height: 170%;
  color: #4d5051;
}

.first__title.intro__title {
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
  color: #1f1e1d;

  @include lg {
    font-size: 56px;
  }

  @include md {
    font-size: 42px;
  }

  @include sm {
    font-size: 36px;
  }

  @include xxs {
    font-size: 28px;
  }
}

.first__text.intro__text {
  margin-bottom: 40px;

  @include md {
    margin-bottom: 20px;
  }

  @include sm {
    margin-bottom: 20px;
  }

  @include xxs {
    font-size: 14px;
  }
}

.first__img {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.first.our-partners__page {
  @include md {
    padding: 51px 0 85px;

    .first__text.intro__text {
      margin-bottom: 30px;
    }
  }

  @include sm {
    padding: 33px 0 70px;

    .first__text.intro__text {
      margin-bottom: 20px;
    }
  }

  @include xxs {
    padding: 20px 0 65px;
  }

  @include xxxs {
    padding: 30px 0 30px;
  }
}

.our-partners__page .first__img {
  width: 512px;

  @include md {
    margin-left: -56px;
  }

  @include r(991px) {
    display: none;
  }
}

.qa__page {
  .first__wrapper {
    gap: 0 40px;

    @include md {
      gap: 0;
    }
  }

  .first__img {
    width: 644px;

    @include md {
      width: 506px;
    }

    @include r(991px) {
      display: none;
    }
  }
}

.our-clients__page {
  .first__wrapper {
    gap: 0 77px;

    @include md {
      gap: 0 43px;
    }
  }

  .first__img {
    width: 569px;

    @include md {
      width: 489px;
    }

    @include r(991px) {
      display: none;
    }
  }
}

.reviews__page {
  .first__wrapper {
    gap: 0 89px;

    @include md {
      gap: 0 28px;
    }
  }

  .first__img {
    width: 544px;

    @include md {
      width: 428px;
    }

    @include r(991px) {
      display: none;
    }
  }
}

.promotions__page {
  .first__wrapper {
    gap: 0 46px;

    @include md {
      gap: 0 33px;
    }
  }

  .first__img {
    width: 584px;

    @include md {
      width: 436px;
    }

    @include r(991px) {
      display: none;
    }
  }
}

.contacts__page {
  padding-bottom: 120px;

  @include sm {
    padding-bottom: 90px;
  }

  @include xxs {
    padding-top: 45px;
  }

  @include xxxs {
    padding-top: 30px;
    padding-bottom: 120px;
  }

  .first__wrapper {
    gap: 0;

    @include md {
      gap: 0;
    }
  }

  .first__img {
    position: relative;
    // left: -53px;
    margin-left: -53px;
    width: 735px;

    @include md {
      width: 555px;
    }

    @include r(991px) {
      display: none;
    }
  }
}

.licenses__page {
  padding-top: 23px;
  padding-bottom: 80px;

  @include md {
    padding-top: 64px;
    padding-bottom: 100px;

    .first__text.intro__text {
      margin-bottom: 30px;
    }
  }

  @include sm {
    padding-top: 44px;
    padding-bottom: 80px;

    .first__text.intro__text {
      margin-bottom: 20px;
    }
  }

  @include xxs {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  @include xxxs {
    padding-bottom: 40px;
  }

  .first__title {
    min-width: 590px;

    @include r(991px) {
      min-width: unset;
    }
  }

  .first__wrapper {
    gap: 0 110px;

    @include md {
      gap: 0 24px;
    }
  }

  .first__img {
    position: relative;
    top: 70px;
    width: 521px;

    @include r(991px) {
      display: none;
    }
  }
}
