/*===== header styles =====*/

.header {
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);

  & .container {
    max-width: 1718px;
    display: flex;
    justify-content: space-between;
  }
}

.header__top {
  padding: 9px 0 8px;
  border-bottom: 1px solid #e3e3e3;
}

.header__top .container,
.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__menu-list {
  display: flex;
  align-items: center;

  & > li {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 70px;
    }
  }

  a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
    color: #1f1e1d;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #ffcb09;
    }
  }

  .menu-item-has-children {
    position: relative;

    &.active > a {
      color: #ffcb09;
    }

    // arrows
    & > a {
      position: relative;
      z-index: 2;
    }

    & > a::before,
    & > a::after {
      content: "";
      position: absolute;
      right: 0;
      top: 7px;
      width: 9px;
      height: 6px;
      transition: all 0.2s linear;
    }

    & > a::before {
      background: url("../images/header/arrow-down.svg") center / contain
        no-repeat;
    }
    & > a::after {
      opacity: 0;
      background: url("../images/header/arrow-down-yellow.svg") center / contain
        no-repeat;
    }

    // background between menu-item and dropdown-menu
    &::after {
      display: none;
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 20px;
      cursor: default;
    }

    //////////////
    /// //////////
    /// ////////////

    & > a {
      padding-right: 17px;
    }

    &.active {
      &::after {
        display: block;
      }

      .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .menu-item-has-children.active {
    & > a::before,
    & > a::after {
      transform: scaleY(-1);
    }

    & > a::before {
      opacity: 0;
    }

    & > a::after {
      opacity: 1;
    }
  }

  .menu-item-has-children {
    a:hover a::before,
    a:hover a::after {
      transform: scaleY(-1);
    }

    a:hover a::before {
      opacity: 0;
    }

    a:hover a::after {
      opacity: 1;
    }
  }

  .sub-menu {
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 5;
    width: 274px;
    padding: 30px 18px 35px 18px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
    border-radius: 0px 0px 10px 10px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    & li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.header__search {
  display: flex;
  align-items: center;
  width: 33%;
  height: 36px;
  background: #f5f7fb;
  border-radius: 100px;
  cursor: pointer;

  & img {
    margin: 0 14px 0 30px;
  }

  & p {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.header__logo {
  position: relative;
  width: 203px;
  height: 39px;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.header__logo--big {
  display: block;
  width: 100%;
  height: auto;
}

.header__logo--small {
  display: none;
  width: 100%;
  height: auto;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  min-width: max-content;

  &:nth-child(1) {
    margin-right: 49px;
  }

  &:nth-child(2) {
    margin-right: 63px;
  }

  &:nth-child(3) {
    margin-right: 59px;
  }
}

.header__contact {
  transition: all 0.2s ease-in-out;
}

.header__messengers {
  position: absolute;
  top: -20px;
  right: -52px;
  display: flex;
  align-items: flex-end;

  & svg {
    cursor: pointer;
  }
}

.header__whatsapp,
.header__viber {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  & path {
    transition: fill 0.2s ease-in-out;
  }
}

.header__viber {
  position: relative;
  top: 2px;
}

.header__item:hover .header__contact {
  color: #ffcb09;
}

.header__item:hover .header__whatsapp path:first-child {
  fill: #00e676;
}

.header__item:hover .header__viber path:first-child {
  fill: #7b519c;
}

/*===== header small menu styles =====*/

.header__menu-small {
  display: none;
}

.header__search-small {
  cursor: pointer;
  margin-right: 30px;
}

.header__burger {
  position: relative;
  width: 21px;
  height: 16px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #1f1e1d;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #1f1e1d;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 100px;
  transition: transform 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 7px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 7px;
}

.header__burger.active span {
  transform: scale(0);
}

/*===== header search styles =====*/

.header__search-frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.12);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.header__search-field {
  position: relative;
  width: 664px;
  max-height: 475px;
  max-height: 80vh;
  margin: 52px auto 0;
  background: #fff;
  border-radius: 10px;
}

.header__search-closer {
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 10;
  cursor: pointer;
}

.header__search-top {
  width: 100%;
  height: 94px;
  padding: 21px 16px 0 16px;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.header__search-request {
  & input {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    color: #1f1e1d;
  }

  & input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.header__search-categories {
  display: flex;
}

.header__search-category {
  position: relative;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: #1f1e1d;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1000px;
    background-color: #1f1e1d;
  }
}

.header__search-output {
  height: calc(80vh - 94px);
  max-height: 381px;
  overflow: auto;
  padding: 4px 16px;
}

.header__search-init {
  display: none;
  padding-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;

  &.active {
    display: block;
  }
}

.header__search-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 16px;
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;

  &:last-child {
    border: none;
  }

  &:hover {
    color: #ffcb09;
  }

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    outline: none;
  }
}

.header__search-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header__search-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

/*===== max-width 1600px =====*/

@media (max-width: 1600px) {
  .header .container {
    max-width: 1230px;
  }

  .header__menu-list {
    & > li {
      margin-right: 40px;
    }
  }

  .header__search {
    width: 360px;
  }
}

/*===== max-width 1279px =====*/

@media (max-width: 1279px) {
  .header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;

    &.header__fixed {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }
  }

  .header .container {
    max-width: 100%;
    padding: 0;
  }

  .header__wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    padding: 50px 20px 29px;
    background-color: #fff;

    transition: all 0.2s ease-out;

    .header__fixed & {
      transform: translateX(100%);
    }
  }

  .header__top {
    flex-grow: 1;
    border: none;
    padding-bottom: 0;
    margin-bottom: 43px;
  }

  .header__search {
    display: none;
  }

  .header__logo {
    width: 115px;
    height: 24px;
  }

  .header__logo--big {
    display: none;
  }

  .header__logo--small {
    display: block;
  }

  .header__menu-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__menu {
    ul {
      display: block;
    }
  }

  .header__menu-list {
    & > li:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .header__contacts {
    gap: 0 50px;
  }

  .header__item {
    &:nth-child(n) {
      margin-right: 0;
    }

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 3;
    }
  }

  .header__menu-list {
    a {
      font-size: 18px;
      line-height: 100%;
      font-weight: 500;
    }

    li,
    li:not(:last-child) {
      margin-right: 0;
    }

    & > li {
      cursor: default;
    }

    & > li:hover > a {
      // color: #1f1e1d;

      &::after,
      &::before {
        transform: none;
      }
    }

    // & > li.active > a {
    //   color: #ffcb09;
    // }

    .sub-menu {
      max-height: 0;
      overflow: hidden;
      position: static;
      visibility: visible;
      opacity: 1;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
      transition: all 0.2s linear;

      a {
        font-size: 14px;
        font-weight: 400;
      }

      li:first-child {
        margin-top: 16px;
      }
    }

    .menu-item-has-children {
      & > a::before,
      & > a::after {
        top: 10px;
      }

      &:hover {
        & > a::before,
        & > a::after {
          transform: none;
        }
      }

      a:hover {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &.active {
        &::after {
          display: none;
        }

        & > a::before {
          opacity: 0;
          transform: scaleY(-1);
        }
        & > a::after {
          opacity: 1;
          transform: scaleY(-1);
        }
      }
    }
  }
}

/*===== max-width 767px =====*/

@media (max-width: 767px) {
  .header__search-field {
    width: 80vw;
  }

  .header__wrapper {
    padding: 50px 10px 20px;
  }

  .header__contacts {
    display: grid;
    grid-template-areas:
      "header__item__1 header__item__3"
      "header__item__2 header__item__4";
    gap: 16px 27px;
  }

  .header__item {
    &:nth-child(1) {
      grid-area: header__item__1;
    }

    &:nth-child(2) {
      grid-area: header__item__2;
    }

    &:nth-child(3) {
      grid-area: header__item__3;
    }

    &:nth-child(4) {
      grid-area: header__item__4;
    }
  }
}

/*===== max-width 479px =====*/

@media (max-width: 479px) {
  .header__search-field {
    width: 98vw;
  }

  .header__search-closer {
    top: -30px;
    right: 50%;
    transform: translateX(50%);
  }

  .header__contact {
    font-size: 12px;
    line-height: 100%;
  }

  .header__menu-list {
    & a {
      font-size: 14px;
    }

    .sub-menu {
      a {
        font-size: 12px;
      }
    }

    .menu-item-has-children {
      & > a::before,
      & > a::after {
        top: 7px;
      }
    }
  }
}
