/*===== header styles =====*/

.header {
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);

  & .container {
    max-width: 1718px;
    display: flex;
    justify-content: space-between;
  }
}

.header__top {
  padding: 9px 0 8px;
  border-bottom: 1px solid #e3e3e3;
}

.header__top .container,
.header__bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__menu ul {
  display: flex;
  align-items: center;
}

.header__elem {
  position: relative;
  margin-right: 70px;
  cursor: pointer;
}

.header__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffcb09;
  }

  &:last-child {
    margin-right: 0;
  }

  & svg {
    margin-left: 8px;
  }

  & path {
    transition: stroke 0.2s ease-in-out;
  }

  &:hover path {
    stroke: #ffcb09;
  }
}

.dropdown_menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 5;
  width: 274px;
  padding: 30px 18px 35px 18px;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
  border-radius: 0px 0px 10px 10px;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.dropdown__list {
    display: block;
  }

  & li {
    display: block;
    margin-bottom: 20px;
  }

  & li:last-child {
    margin-bottom: 0;
  }
}

.dropdown_show {
  &::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 20px;
    cursor: default;
  }

  &:hover .header__list {
    color: #ffcb09;

    & path {
      stroke: #ffcb09;
    }
  }

  &.active {
    &::after {
      display: block;
    }

    .dropdown_menu {
      visibility: visible;
      opacity: 1;
    }

    .header__list svg {
      transform: scaleY(-1);
    }
  }
}

.header__list {
  svg {
    transition: all 0.2s linear;
  }
}

.header__search {
  display: flex;
  align-items: center;
  width: 33%;
  height: 36px;
  background: #f5f7fb;
  border-radius: 100px;
  cursor: pointer;

  & img {
    margin: 0 14px 0 30px;
  }

  & p {
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.header__logo {
  position: relative;
  width: 203px;
  height: 39px;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.logo-big {
  display: block;
  width: 100%;
  height: auto;
}

.logo-small {
  display: none;
  width: 100%;
  height: auto;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;

  &:nth-child(1) {
    margin-right: 49px;
  }

  &:nth-child(2) {
    margin-right: 63px;
  }

  &:nth-child(3) {
    margin-right: 59px;
  }
}

.header__contact {
  transition: all 0.2s ease-in-out;
}

.header__messengers {
  position: absolute;
  top: -20px;
  right: -52px;
  display: flex;
  align-items: flex-end;

  & svg {
    cursor: pointer;
  }
}

.header__whatsapp,
.header__viber {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  & path {
    transition: fill 0.2s ease-in-out;
  }
}

.header__viber {
  position: relative;
  top: 2px;
}

.header__item:hover .header__contact {
  color: #ffcb09;
}

.header__item:hover .header__whatsapp path:first-child {
  fill: #00e676;
}

.header__item:hover .header__viber path:first-child {
  fill: #7b519c;
}

/*===== header small menu styles =====*/

.header__menu-small {
  display: none;
}

.header__search-small {
  cursor: pointer;
  margin-right: 30px;
}

.header__burger {
  position: relative;
  width: 21px;
  height: 16px;
  cursor: pointer;
}

.header__burger span {
  position: absolute;
  background-color: #1f1e1d;
  left: 0;
  width: 100%;
  height: 2px;
  top: 7px;
  border-radius: 100px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: "";
  background-color: #1f1e1d;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 100px;
  transition: transform 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 7px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 7px;
}

.header__burger.active span {
  transform: scale(0);
}

/*===== burger menu styles =====*/

.burger__nav {
  position: fixed;
  top: 50px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 1010;
  padding: 20px 45px 29px 22px;
  background-color: #fff;
  transition: transform 0.4s ease-in-out;
  overflow: hidden;

  &.active {
    transform: translateX(100%);
  }
}

.burger__container {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger__list {
  width: 100%;
  flex: 1;
}

.burger__item {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  & a {
    transition: color 0.2s ease-in-out;
  }

  & a:hover {
    color: #ffcb09;
  }

  & svg {
    position: relative;
    top: -1px;
    margin-left: 12px;
  }

  & path {
    transition: stroke 0.2s ease-in-out;
  }

  & a:hover path {
    stroke: #ffcb09;
  }
}

.burger__contacts {
  display: flex;
}

.burger__contact-item {
  margin-right: 7.11%;

  &:last-child {
    margin-right: 0;
  }

  & a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: color 0.2s ease-in-out;
  }

  &:hover a {
    color: #ffcb09;
  }

  &.social {
    position: relative;
  }
}

.burger__social {
  position: absolute;
  top: -28px;
  right: -47px;
  z-index: 2;
  display: flex;
}

.burger__whatsapp {
  margin-right: 2px;
}

.burger__whatsapp,
.burger__viber {
  position: relative;

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
}

.burger__dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.burger__dropdown-item {
  margin-top: 20px;

  & a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

/*===== header search styles =====*/

.header__search-frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.12);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.header__search-field {
  position: relative;
  width: 664px;
  // max-height: 475px;
  max-height: 80vh;
  margin: 52px auto 0;
  background: #fff;
  border-radius: 10px;
}

.header__search-closer {
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 10;
  cursor: pointer;
}

.header__search-top {
  width: 100%;
  height: 94px;
  padding: 21px 16px 0 16px;
  box-shadow: 0px 4px 15px rgba(22, 37, 55, 0.1);
}

.header__search-request {
  & input {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    color: #1f1e1d;
  }

  & input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #999;
  }
}

.header__search-categories {
  display: flex;
}

.header__search-category {
  position: relative;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: #1f1e1d;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1000px;
    background-color: #1f1e1d;
  }
}

.header__search-output {
  height: calc(80vh - 94px);
  max-height: 381px;
  overflow: auto;
  padding: 4px 16px;
}

.header__search-init {
  display: none;
  padding-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1f1e1d;

  &.active {
    display: block;
  }
}

// .header__search-results {
//   overflow: auto;
// }

.header__search-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 16px;
  border-bottom: 1px solid rgba(227, 227, 227, 0.5);
  color: #1f1e1d;
  transition: color 0.2s ease-in-out;

  &:last-child {
    border: none;
  }

  &:hover {
    color: #ffcb09;
  }

  & a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    outline: none;
  }
}

.header__search-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header__search-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

/*===== max-width 1600px =====*/

@media (max-width: 1600px) {
  .header .container {
    max-width: 1230px;
  }

  .header__elem {
    margin-right: 40px;
  }

  .header__search {
    width: 360px;
  }
}

/*===== max-width 1279px =====*/

@media (max-width: 1279px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px;
  }

  .header .container {
    max-width: 100%;
    padding: 0;
  }

  .header__top,
  .header__contacts {
    display: none;
  }

  .header__logo {
    width: 115px;
    height: 24px;
  }

  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .header__menu-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*===== max-width 767px =====*/

@media (max-width: 767px) {
  .header__search-field {
    width: 80vw;
  }

  .burger__contacts {
    display: grid;
    grid-template-areas:
      "b_cont-1 b_cont-4"
      "b_cont-2 b_cont-3";
    grid-template-columns: 150px 175px;
    grid-template-rows: 50px 15px;
    gap: 16px 27px;
    align-items: flex-end;
  }

  .burger__contact-1 {
    grid-area: b_cont-1;
  }

  .burger__contact-2 {
    grid-area: b_cont-2;
  }

  .burger__contact-3 {
    grid-area: b_cont-3;
  }

  .burger__contact-4 {
    grid-area: b_cont-4;
  }

  .burger__social {
    right: 0;
  }
}

/*===== max-width 479px =====*/

@media (max-width: 479px) {
  .header__search-field {
    width: 98vw;
  }

  .header__search-closer {
    top: -30px;
    right: 50%;
    transform: translateX(50%);
  }

  .burger__nav {
    padding: 20px 10px;
  }

  .burger__item {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .burger__dropdown-item {
    margin-bottom: 20px;

    & a {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
    }
  }

  .burger__contacts {
    grid-template-columns: 120px 154px;
    grid-template-rows: 48px 15px;
    gap: 16px 23px;
  }

  .burger__contact-item a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}
