.infoBlock {
  margin-top: 150px;

  @include md {
    margin-top: 100px;
  }

  @include xxs {
    margin-top: 60px;
  }
}

.infoBlock__title {
  margin-bottom: 30px;

  @include xs {
    margin-bottom: 20px;
  }

  @include xxs {
    margin-bottom: 37px;
  }

  @include xxxs {
    margin-bottom: 8px;
  }
}

.infoBlock__wrapper {
  max-width: 1001px;

  p {
    font-size: 14px;
    line-height: 170%;
    color: var(--color_light_grey);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-top: 10px;
    margin-bottom: 20px;
    column-count: 2;
    column-gap: 28;

    @include xxs {
      column-count: 1;
      column-gap: 0;
    }
  }

  li {
    position: relative;
    margin-bottom: 13px;
    padding-left: 28px;
    font-size: 14px;
    line-height: 170%;
    color: var(--color_light_grey);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 18px;
      height: 1px;
      background-color: var(--color_light_grey);
    }
  }
}

.services-item__infoBlock {
  .infoBlock__title {
    max-width: 953px;
  }
}

.infoBlock__cases {
  margin-top: 75px;

  @include sm {
    margin-top: 100px;
  }

  @include xxs {
    margin-top: 60px;
  }
}
