.licenses__promotions {
  margin-bottom: 150px;

  @include md {
    margin-bottom: 100px;
  }

  @include xxs {
    margin-bottom: 60px;
  }

  @include xxxs {
    padding-top: 40px;
  }
}

.infoBlock__title {
  @include xxs {
    margin-bottom: 20px;
  }
}

.infoBlock__wrapper {
  max-width: 1001px;

  @include xxs {
    p {
      font-size: 12px;
    }
  }
}

.remove__md {
  @include md {
    & {
      display: none;
    }
  }
}
