.news__page {
  padding-top: 100px;

  @include md {
    padding-top: 70px;
  }

  @include sm {
    padding-top: 50px;
  }

  @include xs {
    padding-top: 40px;
  }

  .first__breadcrumps {
    margin-bottom: 20px;

    @include xxxs {
      margin-bottom: 10px;
    }
  }

  .news__title {
    margin-bottom: 20px;

    @include lg {
      margin-bottom: 40px;
    }

    @include md {
      margin-bottom: 30px;
    }

    @include sm {
      margin-bottom: 18px;
    }
  }

  .news__wrapper {
    margin-bottom: 30px;

    @include xxs {
      margin-bottom: 10px;
    }
  }

  .news__wrapper:nth-child(4) {
    .news__item:nth-child(1) {
      grid-column-start: 2;
      grid-column-end: 4;
      order: 2;
    }

    .news__item:not(:first-child) {
      order: 3;
    }

    .news__item:nth-child(2) {
      order: 1;
    }

    @include sm {
      .news__item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        order: unset;
      }

      .news__item:not(:first-child) {
        order: unset;
      }

      .news__item:nth-child(2) {
        order: unset;
      }
    }
  }
}

// ===== news-item styles

.news-item {
  padding-top: 100px;

  @include md {
    padding-top: 70px;
  }

  @include sm {
    padding-top: 50px;
  }

  @include xs {
    padding-top: 40px;
  }

  .first__breadcrumps {
    @include md {
      margin-bottom: 20px;
    }

    @include xxxs {
      margin-bottom: 17px;
    }
  }
}

.news-item__title {
  margin-bottom: 30px;
  font-size: 56px;

  @include md {
    font-size: 30px;
  }

  @include xxs {
    font-size: 24px;
  }

  @include xxxs {
    margin-bottom: 20px;
  }
}

.news-item__intro {
  position: relative;
  width: 100%;
  min-height: 356px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: var(--color_white);
  border-radius: 10px;
  overflow: hidden;

  @include sm {
    margin-bottom: 20px;
  }

  @include xxs {
    min-height: 277px;
  }

  @include xxxs {
    min-height: 220px;
    flex-direction: column;
    padding: 10px;
  }
}

.news-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    #c4c4c4;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news-item__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include xxxs {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
  }
}

.news-stat {
  display: flex;
  align-items: flex-end;

  .svg-image-time-white {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  .svg-image-views-white {
    display: block;
    width: 16px;
    height: 11px;
    margin-right: 6px;
  }

  .svg-image-comments-white {
    display: block;
    width: 14px;
    height: 11px;
    margin-right: 6px;
  }
}

.news__read,
.news__views,
.news__comments {
  display: flex;
  align-items: center;
}

.news__read,
.news__views {
  margin-right: 21px;

  @include xxxs {
    margin-right: 10px;
  }
}

.news-item__first,
.news-item__block {
  max-width: 1000px;
  margin-bottom: 150px;

  h3 {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
    color: var(--color_dark);
  }

  @include md {
    margin-bottom: 100px;
  }

  @include xxs {
    margin-bottom: 60px;
  }

  p,
  li {
    color: var(--color_light_grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;

    @include xxs {
      font-size: 12px;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  li {
    position: relative;
    padding-left: 28px;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 18px;
      height: 1px;
      border-radius: 2px;
      background-color: var(--color_light_grey);
    }
  }

  ul {
    margin: 20px 0 31px;
    column-count: 2;
    column-gap: 30px;

    @include xs {
      column-count: 1;
      column-gap: 0;
    }

    @include xxs {
      margin: 20px 0;
    }
  }
}

// === news-item__content

.news-item__content {
  margin-bottom: 150px;

  @include md {
    margin-bottom: 100px;
  }

  @include xxs {
    margin-bottom: 60px;
  }
}

.news-item__heading {
  margin-bottom: 20px;
}

.news-item__list {
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  a {
    color: var(--color_light_grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 170%;
    text-decoration-line: underline;
    transition: var(--transition);

    &:hover {
      color: var(--color_yellow);
    }

    @include xxs {
      font-size: 12px;
    }
  }
}
