.popular {
  margin: 150px 0;

  @include md {
    margin: 100px 0;
  }

  @include xs {
    margin: 60px 0;
  }
}

.popular__title {
  max-width: 742px;
  margin-bottom: 30px;

  @include xxs {
    margin-bottom: 20px;
  }
}

.popular__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @include md {
    grid-template-columns: repeat(3, 1fr);

    .card:nth-child(4) {
      display: none;
    }
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);

    .card:last-child {
      display: block;
    }
  }

  @include xxs {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
}

// catalog-item page

.catalog-item__popular {
  .popular__wrapper {
    margin-bottom: 50px;

    @include sm {
      margin-bottom: 20px;
    }
  }
}
