.infoBlock.prices__infoBlock {
  padding-top: 0;
  margin-bottom: 150px;

  @include md {
    margin-bottom: 100px;
  }

  @include xxs {
    margin-bottom: 60px;
  }

  ul {
    max-width: 772px;
  }

  b {
    font-size: 16px;

    @include xxs {
      font-size: 14px;
    }
  }
}
