@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-comments-close {
	@extend %svg-common;
	background-position: 65.44117647058823% 81.02189781021897%;
	background-size: math.div(148, 12)*100% auto;
	width: 12px;

}
@mixin svg-pos-image-comments-close {
	background-position: 65.44117647058823% 81.02189781021897%;
}
@mixin svg-image-comments-close-hover {
	.svg-image-comments-close {
		@include svg-pos-image-comments-close-hover
	}
}

.svg-image-comments-close:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(11, 12)*100%;
}

.svg-image-comments-close-dims {
	width: 12px;
	height: 11px;
}

.svg-image-comments-white {
	@extend %svg-common;
	background-position: 55.303030303030305% 82.22222222222223%;
	background-size: math.div(148, 16)*100% auto;
	width: 16px;

}
@mixin svg-pos-image-comments-white {
	background-position: 55.303030303030305% 82.22222222222223%;
}
@mixin svg-image-comments-white-hover {
	.svg-image-comments-white {
		@include svg-pos-image-comments-white-hover
	}
}

.svg-image-comments-white:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(13, 16)*100%;
}

.svg-image-comments-white-dims {
	width: 16px;
	height: 13px;
}

.svg-image-hotline1 {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-hotline1 {
	background-position: 0 0;
}
@mixin svg-image-hotline1-hover {
	.svg-image-hotline1 {
		@include svg-pos-image-hotline1-hover
	}
}

.svg-image-hotline1:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-hotline1-dims {
	width: 37px;
	height: 37px;
}

.svg-image-hotline2 {
	@extend %svg-common;
	background-position: 33.333333333333336% 0;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-hotline2 {
	background-position: 33.333333333333336% 0;
}
@mixin svg-image-hotline2-hover {
	.svg-image-hotline2 {
		@include svg-pos-image-hotline2-hover
	}
}

.svg-image-hotline2:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-hotline2-dims {
	width: 37px;
	height: 37px;
}

.svg-image-hotline3 {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-hotline3 {
	background-position: 0 33.333333333333336%;
}
@mixin svg-image-hotline3-hover {
	.svg-image-hotline3 {
		@include svg-pos-image-hotline3-hover
	}
}

.svg-image-hotline3:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-hotline3-dims {
	width: 37px;
	height: 37px;
}

.svg-image-hotline4 {
	@extend %svg-common;
	background-position: 33.333333333333336% 33.333333333333336%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-hotline4 {
	background-position: 33.333333333333336% 33.333333333333336%;
}
@mixin svg-image-hotline4-hover {
	.svg-image-hotline4 {
		@include svg-pos-image-hotline4-hover
	}
}

.svg-image-hotline4:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-hotline4-dims {
	width: 37px;
	height: 37px;
}

.svg-image-intro-next {
	@extend %svg-common;
	background-position: 27.00729927007299% 96.26865671641791%;
	background-size: math.div(148, 11)*100% auto;
	width: 11px;

}
@mixin svg-pos-image-intro-next {
	background-position: 27.00729927007299% 96.26865671641791%;
}
@mixin svg-image-intro-next-hover {
	.svg-image-intro-next {
		@include svg-pos-image-intro-next-hover
	}
}

.svg-image-intro-next:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(14, 11)*100%;
}

.svg-image-intro-next-dims {
	width: 11px;
	height: 14px;
}

.svg-image-intro-prev {
	@extend %svg-common;
	background-position: 34.53237410071942% 96.26865671641791%;
	background-size: math.div(148, 9)*100% auto;
	width: 9px;

}
@mixin svg-pos-image-intro-prev {
	background-position: 34.53237410071942% 96.26865671641791%;
}
@mixin svg-image-intro-prev-hover {
	.svg-image-intro-prev {
		@include svg-pos-image-intro-prev-hover
	}
}

.svg-image-intro-prev:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(14, 9)*100%;
}

.svg-image-intro-prev-dims {
	width: 9px;
	height: 14px;
}

.svg-image-prices1 {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-prices1 {
	background-position: 66.66666666666667% 0;
}
@mixin svg-image-prices1-hover {
	.svg-image-prices1 {
		@include svg-pos-image-prices1-hover
	}
}

.svg-image-prices1:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-prices1-dims {
	width: 37px;
	height: 37px;
}

.svg-image-prices2 {
	@extend %svg-common;
	background-position: 66.66666666666667% 33.333333333333336%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-prices2 {
	background-position: 66.66666666666667% 33.333333333333336%;
}
@mixin svg-image-prices2-hover {
	.svg-image-prices2 {
		@include svg-pos-image-prices2-hover
	}
}

.svg-image-prices2:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-prices2-dims {
	width: 37px;
	height: 37px;
}

.svg-image-prices3 {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-prices3 {
	background-position: 0 66.66666666666667%;
}
@mixin svg-image-prices3-hover {
	.svg-image-prices3 {
		@include svg-pos-image-prices3-hover
	}
}

.svg-image-prices3:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-prices3-dims {
	width: 37px;
	height: 37px;
}

.svg-image-prices4 {
	@extend %svg-common;
	background-position: 33.333333333333336% 66.66666666666667%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-prices4 {
	background-position: 33.333333333333336% 66.66666666666667%;
}
@mixin svg-image-prices4-hover {
	.svg-image-prices4 {
		@include svg-pos-image-prices4-hover
	}
}

.svg-image-prices4:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-prices4-dims {
	width: 37px;
	height: 37px;
}

.svg-image-time-white {
	@extend %svg-common;
	background-position: 28.46153846153846% 85.38461538461539%;
	background-size: math.div(148, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-image-time-white {
	background-position: 28.46153846153846% 85.38461538461539%;
}
@mixin svg-image-time-white-hover {
	.svg-image-time-white {
		@include svg-pos-image-time-white-hover
	}
}

.svg-image-time-white:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(18, 18)*100%;
}

.svg-image-time-white-dims {
	width: 18px;
	height: 18px;
}

.svg-image-views-white {
	@extend %svg-common;
	background-position: 42.30769230769231% 82.22222222222223%;
	background-size: math.div(148, 18)*100% auto;
	width: 18px;

}
@mixin svg-pos-image-views-white {
	background-position: 42.30769230769231% 82.22222222222223%;
}
@mixin svg-image-views-white-hover {
	.svg-image-views-white {
		@include svg-pos-image-views-white-hover
	}
}

.svg-image-views-white:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(13, 18)*100%;
}

.svg-image-views-white-dims {
	width: 18px;
	height: 13px;
}

.svg-image-work-icon1 {
	@extend %svg-common;
	background-position: 66.66666666666667% 65.48672566371681%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-work-icon1 {
	background-position: 66.66666666666667% 65.48672566371681%;
}
@mixin svg-image-work-icon1-hover {
	.svg-image-work-icon1 {
		@include svg-pos-image-work-icon1-hover
	}
}

.svg-image-work-icon1:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(35, 37)*100%;
}

.svg-image-work-icon1-dims {
	width: 37px;
	height: 35px;
}

.svg-image-work-icon2 {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-work-icon2 {
	background-position: 100% 0;
}
@mixin svg-image-work-icon2-hover {
	.svg-image-work-icon2 {
		@include svg-pos-image-work-icon2-hover
	}
}

.svg-image-work-icon2:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-work-icon2-dims {
	width: 37px;
	height: 37px;
}

.svg-image-work-icon3 {
	@extend %svg-common;
	background-position: 100% 33.333333333333336%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-work-icon3 {
	background-position: 100% 33.333333333333336%;
}
@mixin svg-image-work-icon3-hover {
	.svg-image-work-icon3 {
		@include svg-pos-image-work-icon3-hover
	}
}

.svg-image-work-icon3:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-work-icon3-dims {
	width: 37px;
	height: 37px;
}

.svg-image-work-icon4 {
	@extend %svg-common;
	background-position: 100% 66.66666666666667%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-work-icon4 {
	background-position: 100% 66.66666666666667%;
}
@mixin svg-image-work-icon4-hover {
	.svg-image-work-icon4 {
		@include svg-pos-image-work-icon4-hover
	}
}

.svg-image-work-icon4:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-work-icon4-dims {
	width: 37px;
	height: 37px;
}

.svg-image-work-icon5 {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(148, 37)*100% auto;
	width: 37px;

}
@mixin svg-pos-image-work-icon5 {
	background-position: 0 100%;
}
@mixin svg-image-work-icon5-hover {
	.svg-image-work-icon5 {
		@include svg-pos-image-work-icon5-hover
	}
}

.svg-image-work-icon5:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(37, 37)*100%;
}

.svg-image-work-icon5-dims {
	width: 37px;
	height: 37px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }