// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

:root {
  --color_white: #fff;
  --color_dark: #1f1e1d;
  --color_light_grey: #4d5051;
  --color_light_blue: #f5f7fb;
  --color_yellow: #ffcb09;
  --color_yellow_hover: #ffd741;
  --color_red: #fc3a3a;
  --font_main: "Montserrat", sans-serif;
  --transition: all 0.2s ease-out;
}

$block_padding: 150px;
$block_padding_small: 100px;
